N8N Workflows/Lead Enrichment/Lead enrichment.json
{
  "name": "Lead enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18c0d937-678c-4f68-8c5c-402d208cdaa8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2d9230d3-86f8-4673-84a2-73de59725da8",
      "name": "Webhook",
      "webhookId": "18c0d937-678c-4f68-8c5c-402d208cdaa8",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.apollo.io/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.body.submission.questions[4].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "bdffd483-c1e8-4f0d-a8c9-a59bc629a63f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SkHhi3WlaQJLt9TZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Apollo.io returns employee count in the response\n// Check if organization data exists before accessing it\nif (items[0].json && items[0].json.organization && items[0].json.organization.estimated_num_employees) {\n  const employeeCount = items[0].json.organization.estimated_num_employees;\n  if (employeeCount > 100) {\n    items[0].json.priority = 'high';\n  } else {\n    items[0].json.priority = 'low';\n  }\n} else {\n  // Default to low priority if organization data is not available\n  items[0].json.priority = 'low';\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d102efbe-d5bd-42db-81ea-aff2c6ac181c",
      "name": "Lead Scoring"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "organization_id",
              "fieldValue": "={{ $json.organization.id }}"
            },
            {
              "fieldId": "organization_website",
              "fieldValue": "={{ $json.organization.website_url }}"
            },
            {
              "fieldId": "organization_name",
              "fieldValue": "={{ $json.organization.name }}"
            },
            {
              "fieldId": "organization_number",
              "fieldValue": "={{ $json.organization.primary_phone.number }}"
            },
            {
              "fieldId": "num_employees",
              "fieldValue": "={{ $json.organization.estimated_num_employees }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.organization.raw_address }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.organization.country }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "31b24205-8cac-4604-bdf0-9422536ed68f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "vjWtdeSj3qeRFwZu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48de8f48-ccd7-4c5b-bae4-6164132bfbea",
              "name": "organization.id",
              "value": "={{ $json.organization.id }}",
              "type": "string"
            },
            {
              "id": "a81926aa-f8f9-445d-ad8c-49cc2c24ec40",
              "name": "organization.name",
              "value": "={{ $json.organization.name }}",
              "type": "string"
            },
            {
              "id": "dd927ec9-5e6b-42f1-9183-c1a64c3d36ec",
              "name": "organization.website_url",
              "value": "={{ $json.organization.website_url }}",
              "type": "string"
            },
            {
              "id": "7554a26b-90d6-47d3-849f-c598516ed5ce",
              "name": "organization.primary_phone.number",
              "value": "={{ $json.organization.primary_phone.number }}",
              "type": "string"
            },
            {
              "id": "e5873c44-32d2-4c77-b33d-5f7481ab3cd5",
              "name": "organization.estimated_num_employees",
              "value": "={{ $json.organization.estimated_num_employees }}",
              "type": "number"
            },
            {
              "id": "7964e419-814b-4684-8347-bcb5cfa45149",
              "name": "organization.raw_address",
              "value": "={{ $json.organization.raw_address }}",
              "type": "string"
            },
            {
              "id": "aa56a7be-b43c-4247-a40e-7a4a89c402ee",
              "name": "organization.country",
              "value": "={{ $json.organization.country }}",
              "type": "string"
            },
            {
              "id": "8e8dfae9-0cc8-4fa7-a10a-539b4beb7681",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "daa3e67f-e91b-4426-9315-745f2eec3857",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f71e84f6-461d-4baa-9c33-fe9582e97e26",
              "name": "body.submission.questions[0].value",
              "value": "={{ $('Webhook').item.json.body.submission.questions[0].value }}",
              "type": "string"
            },
            {
              "id": "9198d1c2-d942-4f51-8b05-fd194abccb95",
              "name": "body.submission.questions[1].value",
              "value": "={{ $('Webhook').item.json.body.submission.questions[1].value }}",
              "type": "string"
            },
            {
              "id": "d77a18dd-e792-4255-9f62-69db9e11da7b",
              "name": "body.submission.questions[3].value",
              "value": "={{ $('Webhook').item.json.body.submission.questions[3].value }}",
              "type": "string"
            },
            {
              "id": "57a7df19-9053-4f39-b4d5-867913cbd2f4",
              "name": "body.submission.questions[4].value",
              "value": "={{ $json.num_employees }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "36ad6727-1d67-476c-ac93-43eb952edb73",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09DW7RASMU",
          "mode": "list",
          "cachedResultName": "automation"
        },
        "text": "={{ $json.body.submission.questions[0].value }} {{ $json.body.submission.questions[1].value }} from {{ $json.body.submission.questions[3].value }} with {{ $json.body.submission.questions[4].value }} employees",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1456,
        -16
      ],
      "id": "81e2f955-8ef4-42fd-af4f-eee5d1be0c3c",
      "name": "Send a message",
      "webhookId": "e068d749-0f87-4cb1-9023-0b38c78131e5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aVYyyLz2hWeS6wtt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f1ff422-ee5a-4c44-b3fe-1ff259705007",
              "leftValue": "={{ $('Lead Scoring').item.json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        0
      ],
      "id": "05b28122-5aa0-4ba2-9434-64f58da30f39",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\"Generate a personalized email draft for a lead with the following details: first_name: \" + {{ $('Webhook').item.json.body.submission.questions[0].value }} + \", last_name: \" + {{ $('Webhook').item.json.body.submission.questions[1].value }} + \", company_name: \" + {{ $('Webhook').item.json.body.submission.questions[3].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1648,
        -16
      ],
      "id": "57bcd2bf-22a3-41c0-8f49-d34d3b8160a3",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6zNcL0mVed9PBJ6M",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Priority is Low"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ],
      "id": "c3950dfb-9b6a-4003-82d6-a47c570788e8",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09E9LJG0AD",
          "mode": "list",
          "cachedResultName": "lead-enrichment-output"
        },
        "text": "={{ $json.message.content }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2000,
        -16
      ],
      "id": "f05458c0-a24b-4e69-896d-8b8b7e95a4a2",
      "name": "Send a message1",
      "webhookId": "0136d597-9c96-47a7-94a1-63919f0c8043",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aVYyyLz2hWeS6wtt",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6170f5d1-409f-4798-9790-0b5b5297eabf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4c3b75356d6a61510c8243f04ffa1f078be7dea5992cd7004e119fc4723ae75"
  },
  "id": "9oNNeeSJth9ONaNf",
  "tags": []
}