N8N Workflows/Gmail Auto Attachment Docs/Gmail Auto Attachment.json
{
  "name": "Gmail Auto Attachment",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment",
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "f74e72f7-b9e8-414b-9511-a9ad1d7cf24b",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1040,
        1696
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VIxLkRuVVU44dTo9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 5,
        "output": "={{ \n  $json.fileExtension === 'pdf' ? 0 :\n  $json.fileExtension === 'docx' ? 1 :\n  $json.fileExtension === 'xlsx' ? 2 :\n  $json.fileExtension === 'csv' ? 3 :\n  4\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1488,
        1648
      ],
      "id": "d7421e59-7dbd-45bb-8ffd-7b04b0a3fd01",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "maxPages": 3
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1712,
        1312
      ],
      "id": "bbe56ff3-4710-4047-8036-e2a64b53eb2f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "includeEmptyCells": false,
          "maxRowCount": 5
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1712,
        1504
      ],
      "id": "d2f7d25e-39d5-4651-8dcd-448f83aeffee",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1712,
        1696
      ],
      "id": "46c5f973-ede0-481e-888f-50405cc14aeb",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1712,
        1888
      ],
      "id": "b656b07a-cb7b-44a3-bc90-9df7c6aa85d3",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a490d0c1-01bf-44a5-9e78-b01c5a4d5665",
              "name": "contentSummary",
              "value": "=Unsupported file type: {{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "5889f152-ee22-4836-ad09-9c17509db9b0",
              "name": "extractedData",
              "value": "null",
              "type": "string"
            },
            {
              "id": "aeb9d0e5-bc9b-4898-841c-637d20919aad",
              "name": "processingStatus",
              "value": "unsupported",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        2080
      ],
      "id": "0ee9a0d1-80d3-4181-a235-7a85e2eff79e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        1648
      ],
      "id": "dfee8cb7-f077-469b-8527-4af1f2e8e96b",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $json.generatedFilename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xp3JUSwIrg_cqccLNNx71UmO4dF21HWz",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xp3JUSwIrg_cqccLNNx71UmO4dF21HWz"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3664,
        1696
      ],
      "id": "2c3e598a-896b-4afa-a240-b62f5c420436",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mCqTkJXoWj7HOBsS",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split attachments from Gmail Trigger output\nconst items = [];\nconst inputData = $input.all();\n\n// Process each input item (emails)\nfor (const item of inputData) {\n  const json = item.json;\n  const binary = item.binary || {};\n\n  // Find all binary attachment keys (attachment_0, attachment_1, etc.)\n  for (const binaryKey in binary) {\n    if (binaryKey.startsWith('attachment_')) {\n      const index = binaryKey.replace('attachment_', '');\n      const binaryData = binary[binaryKey];\n\n      // Extract filename and extension from binary data\n      const filename = binaryData.fileName || binaryData.filename || `attachment_${index}`;\n      const mimeType = binaryData.mimeType || binaryData['mimeType'] || 'application/octet-stream';\n\n      // Extract file extension from filename\n      const fileExtension = filename.includes('.') \n        ? filename.split('.').pop().toLowerCase()\n        : 'unknown';\n\n      items.push({\n        json: {\n          messageId: json.id || json.messageId || `msg_${Date.now()}_${index}`,\n          from: json.from || 'unknown@sender.com',\n          subject: json.subject || 'No Subject',\n          originalFilename: filename,\n          mimeType: mimeType,\n          size: binaryData.fileSize || 'unknown',\n          fileExtension: fileExtension,\n          attachmentIndex: parseInt(index) || 0,\n          attachmentKey: binaryKey,\n          // Include original email data for reference\n          emailHeaders: json.headers,\n          emailDate: json.date\n        },\n        binary: {\n          data: binaryData\n        }\n      });\n    }\n  }\n}\n\n// Return items or debug info if no attachments found\nreturn items.length > 0 ? items : [{\n  json: { \n    error: 'No binary attachments found',\n    inputKeys: Object.keys($input.item.json),\n    binaryKeys: Object.keys($input.item.binary || {}),\n    sampleBinaryData: $input.item.binary.attachment_0 ? {\n      fileName: $input.item.binary.attachment_0.fileName,\n      mimeType: $input.item.binary.attachment_0.mimeType,\n      fileSize: $input.item.binary.attachment_0.fileSize\n    } : 'No attachment_0 found'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1696
      ],
      "id": "3b63754b-7326-4ca0-8aed-30eb8db0db51",
      "name": "Split attachment",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for LLM - limit and clean\nlet contentSummary = \"\";\nconst maxChars = 1000; // Limit for LLM context\n\n// Safely get values with defaults\nconst extractedData = $json.extractedData || $json; // Sometimes data is at root level\nconst mimeType = $json.mimeType || \"\";\nconst originalFilename = $json.originalFilename || \"unknown_file\";\nconst fromEmail = $json.from || \"unknown_sender\";\nconst fileExtension = $json.fileExtension || \"unknown\";\n\n// Check for extracted content\nif (extractedData) {\n  if (mimeType.includes('pdf') || extractedData.text) {\n    // PDF: Extract text content\n    const text = extractedData.text || \"\";\n    if (text.trim()) {\n      contentSummary = text.substring(0, maxChars).trim();\n    }\n  } else if (mimeType.includes('spreadsheet') || mimeType.includes('csv')) {\n    // Spreadsheet/CSV: Headers + first few rows\n    const rows = Array.isArray(extractedData) ? extractedData.slice(0, 3) : [];\n    contentSummary = JSON.stringify(rows, null, 2).substring(0, maxChars);\n  } else if (mimeType.includes('word') || mimeType.includes('document')) {\n    // DOCX: First paragraphs\n    const text = typeof extractedData === 'string' ? extractedData : \n                 extractedData.text || JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  } else {\n    // Other formats: Convert to string and limit\n    const text = typeof extractedData === 'string' ? extractedData :\n                 JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  }\n}\n\n// Fallback to filename if no content\nif (!contentSummary) {\n  contentSummary = `Filename: ${originalFilename}, From: ${fromEmail}, Type: ${fileExtension.toUpperCase()}`;\n}\n\nreturn {\n  ...$json,\n  contentSummary,\n  contentLength: contentSummary.length,\n  extractionMethod: contentSummary.includes('Filename:') ? 'filename_only' : 'content_extracted'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1312
      ],
      "id": "43a216b1-692b-45c5-ada9-7ac270e807fc",
      "name": "Prepare content for LLM"
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for LLM - limit and clean\nlet contentSummary = \"\";\nconst maxChars = 1000; // Limit for LLM context\n\n// Safely get values with defaults\nconst extractedData = $json.extractedData || $json; // Sometimes data is at root level\nconst mimeType = $json.mimeType || \"\";\nconst originalFilename = $json.originalFilename || \"unknown_file\";\nconst fromEmail = $json.from || \"unknown_sender\";\nconst fileExtension = $json.fileExtension || \"unknown\";\n\n// Check for extracted content\nif (extractedData) {\n  if (mimeType.includes('pdf') || extractedData.text) {\n    // PDF: Extract text content\n    const text = extractedData.text || \"\";\n    if (text.trim()) {\n      contentSummary = text.substring(0, maxChars).trim();\n    }\n  } else if (mimeType.includes('spreadsheet') || mimeType.includes('csv')) {\n    // Spreadsheet/CSV: Headers + first few rows\n    const rows = Array.isArray(extractedData) ? extractedData.slice(0, 3) : [];\n    contentSummary = JSON.stringify(rows, null, 2).substring(0, maxChars);\n  } else if (mimeType.includes('word') || mimeType.includes('document')) {\n    // DOCX: First paragraphs\n    const text = typeof extractedData === 'string' ? extractedData : \n                 extractedData.text || JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  } else {\n    // Other formats: Convert to string and limit\n    const text = typeof extractedData === 'string' ? extractedData :\n                 JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  }\n}\n\n// Fallback to filename if no content\nif (!contentSummary) {\n  contentSummary = `Filename: ${originalFilename}, From: ${fromEmail}, Type: ${fileExtension.toUpperCase()}`;\n}\n\nreturn {\n  ...$json,\n  contentSummary,\n  contentLength: contentSummary.length,\n  extractionMethod: contentSummary.includes('Filename:') ? 'filename_only' : 'content_extracted'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1504
      ],
      "id": "510bc161-067f-436c-8fb6-c1d7907ecfcf",
      "name": "Prepare content for LLM1"
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for LLM - limit and clean\nlet contentSummary = \"\";\nconst maxChars = 1000; // Limit for LLM context\n\n// Safely get values with defaults\nconst extractedData = $json.extractedData || $json; // Sometimes data is at root level\nconst mimeType = $json.mimeType || \"\";\nconst originalFilename = $json.originalFilename || \"unknown_file\";\nconst fromEmail = $json.from || \"unknown_sender\";\nconst fileExtension = $json.fileExtension || \"unknown\";\n\n// Check for extracted content\nif (extractedData) {\n  if (mimeType.includes('pdf') || extractedData.text) {\n    // PDF: Extract text content\n    const text = extractedData.text || \"\";\n    if (text.trim()) {\n      contentSummary = text.substring(0, maxChars).trim();\n    }\n  } else if (mimeType.includes('spreadsheet') || mimeType.includes('csv')) {\n    // Spreadsheet/CSV: Headers + first few rows\n    const rows = Array.isArray(extractedData) ? extractedData.slice(0, 3) : [];\n    contentSummary = JSON.stringify(rows, null, 2).substring(0, maxChars);\n  } else if (mimeType.includes('word') || mimeType.includes('document')) {\n    // DOCX: First paragraphs\n    const text = typeof extractedData === 'string' ? extractedData : \n                 extractedData.text || JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  } else {\n    // Other formats: Convert to string and limit\n    const text = typeof extractedData === 'string' ? extractedData :\n                 JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  }\n}\n\n// Fallback to filename if no content\nif (!contentSummary) {\n  contentSummary = `Filename: ${originalFilename}, From: ${fromEmail}, Type: ${fileExtension.toUpperCase()}`;\n}\n\nreturn {\n  ...$json,\n  contentSummary,\n  contentLength: contentSummary.length,\n  extractionMethod: contentSummary.includes('Filename:') ? 'filename_only' : 'content_extracted'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1696
      ],
      "id": "6fceb246-b93e-4d66-8870-618bd00710dc",
      "name": "Prepare content for LLM3"
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for LLM - limit and clean\nlet contentSummary = \"\";\nconst maxChars = 1000; // Limit for LLM context\n\n// Safely get values with defaults\nconst extractedData = $json.extractedData || $json; // Sometimes data is at root level\nconst mimeType = $json.mimeType || \"\";\nconst originalFilename = $json.originalFilename || \"unknown_file\";\nconst fromEmail = $json.from || \"unknown_sender\";\nconst fileExtension = $json.fileExtension || \"unknown\";\n\n// Check for extracted content\nif (extractedData) {\n  if (mimeType.includes('pdf') || extractedData.text) {\n    // PDF: Extract text content\n    const text = extractedData.text || \"\";\n    if (text.trim()) {\n      contentSummary = text.substring(0, maxChars).trim();\n    }\n  } else if (mimeType.includes('spreadsheet') || mimeType.includes('csv')) {\n    // Spreadsheet/CSV: Headers + first few rows\n    const rows = Array.isArray(extractedData) ? extractedData.slice(0, 3) : [];\n    contentSummary = JSON.stringify(rows, null, 2).substring(0, maxChars);\n  } else if (mimeType.includes('word') || mimeType.includes('document')) {\n    // DOCX: First paragraphs\n    const text = typeof extractedData === 'string' ? extractedData : \n                 extractedData.text || JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  } else {\n    // Other formats: Convert to string and limit\n    const text = typeof extractedData === 'string' ? extractedData :\n                 JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  }\n}\n\n// Fallback to filename if no content\nif (!contentSummary) {\n  contentSummary = `Filename: ${originalFilename}, From: ${fromEmail}, Type: ${fileExtension.toUpperCase()}`;\n}\n\nreturn {\n  ...$json,\n  contentSummary,\n  contentLength: contentSummary.length,\n  extractionMethod: contentSummary.includes('Filename:') ? 'filename_only' : 'content_extracted'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1888
      ],
      "id": "efae73db-5cbd-4111-b38f-2c75734de144",
      "name": "Prepare content for LLM2"
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for LLM - limit and clean\nlet contentSummary = \"\";\nconst maxChars = 1000; // Limit for LLM context\n\n// Safely get values with defaults\nconst extractedData = $json.extractedData || $json; // Sometimes data is at root level\nconst mimeType = $json.mimeType || \"\";\nconst originalFilename = $json.originalFilename || \"unknown_file\";\nconst fromEmail = $json.from || \"unknown_sender\";\nconst fileExtension = $json.fileExtension || \"unknown\";\n\n// Check for extracted content\nif (extractedData) {\n  if (mimeType.includes('pdf') || extractedData.text) {\n    // PDF: Extract text content\n    const text = extractedData.text || \"\";\n    if (text.trim()) {\n      contentSummary = text.substring(0, maxChars).trim();\n    }\n  } else if (mimeType.includes('spreadsheet') || mimeType.includes('csv')) {\n    // Spreadsheet/CSV: Headers + first few rows\n    const rows = Array.isArray(extractedData) ? extractedData.slice(0, 3) : [];\n    contentSummary = JSON.stringify(rows, null, 2).substring(0, maxChars);\n  } else if (mimeType.includes('word') || mimeType.includes('document')) {\n    // DOCX: First paragraphs\n    const text = typeof extractedData === 'string' ? extractedData : \n                 extractedData.text || JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  } else {\n    // Other formats: Convert to string and limit\n    const text = typeof extractedData === 'string' ? extractedData :\n                 JSON.stringify(extractedData);\n    contentSummary = text.substring(0, maxChars).trim();\n  }\n}\n\n// Fallback to filename if no content\nif (!contentSummary) {\n  contentSummary = `Filename: ${originalFilename}, From: ${fromEmail}, Type: ${fileExtension.toUpperCase()}`;\n}\n\nreturn {\n  ...$json,\n  contentSummary,\n  contentLength: contentSummary.length,\n  extractionMethod: contentSummary.includes('Filename:') ? 'filename_only' : 'content_extracted'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        2080
      ],
      "id": "ab562542-62e6-4f6a-9840-0a5083fd5692",
      "name": "Prepare content for LLM4"
    },
    {
      "parameters": {
        "jsCode": "// Process OpenAI response and create sanitized filename\nlet generatedName = \"unknown_document\";\n\n// Extract filename from OpenAI response\nif ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) {\n  const response = $json.choices[0].message.content.trim();\n  // Clean filename - remove problematic characters\n  generatedName = response\n    .replace(/[\\/\\\\:*?\"<>|]/g, '_')\n    .replace(/\\s+/g, '_')\n    .replace(/_+/g, '_')\n    .substring(0, 80); // Length limit\n}\n\n// Get original data (we need to merge this with the original attachment data)\n// The OpenAI response doesn't contain the original file data, so we need to get it from the input\nconst originalExt = 'pdf'; // You may need to get this from the original data\nconst sender = 'unknown'; // You may need to get this from the original data  \nconst date = new Date().toISOString().split('T')[0];\n\n// Build final filename according to template\nlet finalName = $parameter.FILENAME_TEMPLATE || \"detected_topic__sender__yyyy-mm-dd\";\nfinalName = finalName\n  .replace('detected_topic', generatedName)\n  .replace('sender', sender)\n  .replace('yyyy-mm-dd', date);\n\n// Final sanitization\nfinalName = finalName\n  .replace(/[\\/\\\\:*?\"<>|]/g, '_')\n  .replace(/\\s+/g, '_')\n  .replace(/_+/g, '_')\n  .toLowerCase()\n  .substring(0, 100) + '.' + originalExt;\n\nreturn {\n  generatedFilename: generatedName,\n  finalFilename: finalName,\n  sanitizedName: finalName,\n  llmProvider: 'openai',\n  usage: $json.usage || null,\n  originalResponse: $json // Keep original for debugging\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        1696
      ],
      "id": "d4b79937-4613-48e7-a030-919bc5b46b48",
      "name": "Process OpenAI response"
    },
    {
      "parameters": {
        "jsCode": "// Generate unique key for duplicate detection\nconst messageId = $json.messageId || $json.id || 'unknown_message';\nconst filename = $json.originalFilename || $json.finalFilename || 'unknown_file';\nconst size = $json.size || 'unknown_size';\nconst checksum = `${messageId}_${filename}_${size}`;\n\n// For now, we'll implement a simple duplicate check using workflow parameters\n// In a production environment, you might want to use an external database\nconst skipDuplicates = $parameter.SKIP_DUPLICATES || true;\n\n// Since we can't access the datastore in this context, we'll check against \n// a simple in-memory approach or skip duplicate detection for now\nconst isDuplicate = false; // Set to false for testing, implement proper logic as needed\n\nif (isDuplicate && skipDuplicates) {\n  return {\n    ...$json,\n    isDuplicate: true,\n    status: 'skipped_duplicate',\n    checksum: checksum,\n    skipReason: 'Duplicate file detected'\n  };\n}\n\nreturn {\n  ...$json,\n  isDuplicate: false,\n  checksum: checksum,\n  status: 'processing',\n  duplicateCheckCompleted: true,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        1696
      ],
      "id": "086a01c4-f194-4271-9a9c-1e2b86ca6ebe",
      "name": "Generate unique key"
    },
    {
      "parameters": {
        "jsCode": "// Simulate file upload and create download info\nconst filename = $json.finalFilename || 'processed_file.pdf';\nconst fileSize = $json.size || 'unknown';\n\n// Create simulated file upload response\nconst fileInfo = {\n  id: 'file_' + Date.now(),\n  name: filename,\n  downloadUrl: `https://simulated-storage.com/files/${filename}`,\n  size: fileSize,\n  uploadStatus: 'success',\n  uploadTimestamp: new Date().toISOString(),\n  note: 'File processing completed - upload simulated for testing'\n};\n\nreturn {\n  ...$json,\n  fileUpload: fileInfo,\n  uploadComplete: true,\n  status: 'file_processed_successfully'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1696
      ],
      "id": "49aaf5af-d12f-4b7a-a882-a011f9cca681",
      "name": "Simulate file upload and create download info"
    },
    {
      "parameters": {
        "jsCode": "// Fix: Preserve binary data for Google Drive upload\nconst currentData = $input.first().json;\nconst originalAttachmentData = $('Split attachment').first(); // Reference your attachment extraction node\n\nconsole.log('Current JSON data:', Object.keys(currentData));\nconsole.log('Original binary keys:', Object.keys(originalAttachmentData.binary || {}));\n\n// Get the attachment key from the original data\nconst attachmentKey = currentData.attachmentKey || 'data';\n\nreturn [{\n  json: currentData,\n  binary: originalAttachmentData.binary // Pass through the original binary data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        1696
      ],
      "id": "82f368b4-e2f9-4a10-97f9-6695f71f7547",
      "name": "Preserve binary data for Google Drive upload"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate a descriptive filename (8-12 words) based on file content. Output ONLY the filename without extension. No quotes, slashes, or special characters. Use underscores for spaces.\"}, {\"role\": \"user\", \"content\": \"Content summary: \" + $json.contentSummary + \"\\nOriginal filename: \" + $json.originalFilename + \"\\nSender: \" + $json.from}]",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 100,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2416,
        1696
      ],
      "id": "ad6a2025-1183-43b2-adb3-b6a298e8f80b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6zNcL0mVed9PBJ6M",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Split attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare content for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Prepare content for LLM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Prepare content for LLM3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Prepare content for LLM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare content for LLM4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachment": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare content for LLM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare content for LLM1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare content for LLM3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare content for LLM2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepare content for LLM4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Process OpenAI response": {
      "main": [
        [
          {
            "node": "Generate unique key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate unique key": {
      "main": [
        [
          {
            "node": "Simulate file upload and create download info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate file upload and create download info": {
      "main": [
        [
          {
            "node": "Preserve binary data for Google Drive upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve binary data for Google Drive upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Process OpenAI response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b2eacc5-e281-4cf9-9e29-74427910a891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4c3b75356d6a61510c8243f04ffa1f078be7dea5992cd7004e119fc4723ae75"
  },
  "id": "7yHuW9gDK0l69JLa",
  "tags": [
    {
      "createdAt": "2025-09-05T04:26:17.514Z",
      "updatedAt": "2025-09-05T04:26:17.514Z",
      "id": "isl52qVF6zUAUnZH",
      "name": "Gmail Automation"
    }
  ]
}