N8N Workflows/AI Email Personalization System/AI Email Personalization System.json
{
  "name": "Production Order Generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        -48
      ],
      "id": "8c26488e-26f8-4c97-b715-eb8b75f3a045",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Mock contact data for Reno renovation tech startup\nconst mockContacts = [\n  {\n    id: 1,\n    firstName: \"Sarah\",\n    lastName: \"Johnson\",\n    email: \"sarah.johnson@modernhomes.ae\",\n    company: \"Modern Homes Dubai\",\n    industry: \"Real Estate Development\",\n    location: \"Dubai Marina\",\n    projectType: \"Villa Renovation\",\n    budget: \"150000\",\n    timeframe: \"3 months\",\n    previousProjects: \"Kitchen remodel in 2022\",\n    painPoint: \"Finding reliable contractors\",\n    interests: [\"smart home technology\", \"sustainable materials\"]\n  },\n  {\n    id: 2,\n    firstName: \"Ahmed\",\n    lastName: \"Al Maktoum\",\n    email: \"ahmed.almaktoum@constructco.ae\",\n    company: \"Construct Co.\",\n    industry: \"Construction\",\n    location: \"Abu Dhabi\",\n    projectType: \"Office Renovation\",\n    budget: \"300000\",\n    timeframe: \"6 months\",\n    previousProjects: \"None with tech platforms\",\n    painPoint: \"Project timeline delays\",\n    interests: [\"project management tools\", \"cost optimization\"]\n  },\n  {\n    id: 3,\n    firstName: \"Fatima\",\n    lastName: \"Hassan\",\n    email: \"fatima.hassan@residences.ae\",\n    company: \"Premium Residences\",\n    industry: \"Property Management\",\n    location: \"Sharjah\",\n    projectType: \"Apartment Complex Upgrade\",\n    budget: \"500000\",\n    timeframe: \"12 months\",\n    previousProjects: \"Multiple renovations\",\n    painPoint: \"Vendor coordination\",\n    interests: [\"digital solutions\", \"tenant satisfaction\"]\n  }\n];\n\nreturn mockContacts.map(contact => ({ json: contact }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -48
      ],
      "id": "4ea33be6-bf64-4ec3-8af5-faa5b18c8841",
      "name": "Mock Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "942ec387-2a19-4852-ac6f-38c88ce6b84d",
              "name": "email_clean",
              "value": "={{ $json.email ? $json.email.toLowerCase().trim() : '' }}",
              "type": "string"
            },
            {
              "id": "a068c0f9-d064-4ee5-bfbf-c74c65b4e4bc",
              "name": "firstName_clean",
              "value": "={{ $json.firstName ? $json.firstName.trim() : '' }}",
              "type": "string"
            },
            {
              "id": "367d8a34-9a01-4b02-9a89-160de868ceeb",
              "name": "budget_numeric",
              "value": "={{ Number(String($json.budget ?? 0).replace(/[^0-9.-]/g, '')) || 0 }}",
              "type": "number"
            },
            {
              "id": "6396dbb6-9c2c-46f8-a3e3-0dc9d8a73bbe",
              "name": "hasValidEmail",
              "value": "={{ $json.email && $json.email.includes('@') }}",
              "type": "boolean"
            },
            {
              "id": "5005e026-0fb8-4368-9fa3-fbe4acd71c84",
              "name": "hasValidName",
              "value": "={{ $json.firstName && $json.firstName.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "a0efa280-5ce1-4679-9086-97d26e2cf378",
              "name": "hasProjectType",
              "value": "={{ $json.projectType && $json.projectType.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "b137b73c-c56e-488e-aad7-b089dc7e21c2",
              "name": "isValid",
              "value": "={{ $json.email && $json.email.includes('@') && $json.firstName && $json.firstName.length > 0 && $json.projectType && $json.projectType.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "b0407745-6cce-4533-8549-901a11004520",
              "name": "processedAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -48
      ],
      "id": "22bf24eb-98f5-480a-83b4-9584448983ce",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bf9dfd-82ea-40d5-b61e-300cb3140053",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -48
      ],
      "id": "30dd3726-c75e-4b3b-8518-d5f56e922baa",
      "name": "Data Quality Check"
    },
    {
      "parameters": {
        "content": "# Module 1 - Data Ingestion & Validation #",
        "height": 384,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -176
      ],
      "typeVersion": 1,
      "id": "d4389388-d5fb-4c26-92eb-feaceb232a3b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65e5d0bb-9088-44ae-8cac-95ae974e4c06",
              "name": "recipientName",
              "value": "={{ $json.firstName_clean }}",
              "type": "string"
            },
            {
              "id": "be5f7ce7-fe7c-49c3-bee6-de78ffe73ff1",
              "name": "companyName",
              "value": "={{ $json.company || 'Your Company' }}",
              "type": "string"
            },
            {
              "id": "298420c1-72c8-465a-a949-66b0b501c68e",
              "name": "projectType",
              "value": "={{ $('Mock Data').item.json.projectType }}",
              "type": "string"
            },
            {
              "id": "ecb908e7-2b53-492f-88cb-b033743fa623",
              "name": "budgetRange",
              "value": "={{ $json.budget_numeric > 250000 ? 'premium' : $json.budget_numeric > 100000 ? 'mid-range' : 'budget-conscious' }}",
              "type": "string"
            },
            {
              "id": "c4cb3478-1d45-4710-9cf2-544d0ca69463",
              "name": "industryPainPoint",
              "value": "={{ $json.industry === 'Real Estate Development' ? 'tight project deadlines and quality expectations' : $json.industry === 'Construction' ? 'regulatory compliance and material sourcing challenges' : $json.industry === 'Property Management' ? 'minimizing tenant disruption during renovations' : 'balancing cost, quality, and timeline in renovation projects' }}",
              "type": "string"
            },
            {
              "id": "0ad7573d-a1fe-427b-8e44-180c3da5bba9",
              "name": "locationContext",
              "value": "={{ $json.location && $json.location.includes('Dubai') ? 'Dubai competitive real estate market' : $json.location && $json.location.includes('Abu Dhabi') ? 'Abu Dhabi government sector requirements' : $json.location && $json.location.includes('Sharjah') ? 'Sharjah growing residential sector' : 'the UAE dynamic construction industry' }}",
              "type": "string"
            },
            {
              "id": "2bba066f-a4df-4253-8215-08c1cd2cd218",
              "name": "painPoint",
              "value": "={{ $json.painPoint || 'project coordination challenges' }}",
              "type": "string"
            },
            {
              "id": "d7a7d2b8-eabb-40d0-a0db-2280f50de5da",
              "name": "timeframe",
              "value": "={{ $('Mock Data').item.json.timeframe || '6 months'  }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        336
      ],
      "id": "773dbee6-f04e-4981-9ef5-276ae7d15c7c",
      "name": "Build Personalization Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert email copywriter for Reno, a UAE-based renovation tech platform. Write personalized outreach emails that:\\n1. Address specific industry pain points\\n2. Reference local UAE market conditions\\n3. Highlight relevant Reno platform benefits\\n4. Include a clear call-to-action\\n5. Maintain professional yet warm tone\\n6. Keep emails concise (150-200 words)\\n\\nFormat response as:\\nSubject: [subject line]\\n\\n[email body]\\n\\nAlways mention Reno's key differentiators: AI-powered contractor matching, transparent pricing, project timeline tracking, and quality assurance.",
              "role": "system"
            },
            {
              "content": "=Generate a personalized email for:\\nName: {{ $json.recipientName }}\\nCompany: {{ $json.companyName }}\\nProject: {{ $json.projectType }}\\nBudget: AED {{ $('Data Quality Check').item.json.budget_numeric }}\\nLocation: {{ $json.locationContext }}\\nMain Challenge: {{ $json.painPoint }}\\nIndustry Context: {{ $json.industryPainPoint }}\\nLocation Context: {{ $json.locationContext }}\\n\\nMake the email highly relevant to their specific situation and include pricing that matches their budget range ({{ $json.budgetRange }})"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        256,
        336
      ],
      "id": "429ead69-c16a-4e8f-b512-9978d39e8255",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "U2bQf1oxLXOfMrjM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f14033bc-a5c3-4a38-8d9d-5be51842799c",
              "name": "email_subject",
              "value": "={{ $json.message?.content ? $json.message.content.split('\\n')[0].replace('Subject:', '').replace('SUBJECT:', '').trim() : '' }}",
              "type": "string"
            },
            {
              "id": "42e208e5-211a-4e14-9201-116589888e26",
              "name": "subject_final",
              "value": "={{ $json.email_subject && $json.email_subject.length > 5 ? $json.email_subject : 'Streamline Your Project with Reno' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        496
      ],
      "id": "351a4f28-ba82-446a-a4d9-ef12e0ff93f7",
      "name": "Parse Subject Line"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c27708ac-2351-427d-b891-1ad642772050",
              "name": "email_body",
              "value": "={{ $json.message?.content ? $json.message.content.replace(/^Subject:.*?\\n\\n?/i, '').trim() : '' }}",
              "type": "string"
            },
            {
              "id": "a0278a08-ed28-4e02-9c3a-80f14f175de8",
              "name": "body_final",
              "value": "={{ $json.message?.content ? $json.message.content.replace(/^Subject:.*?\\n\\n?/i, '').trim() : 'Email content unavailable' }}",
              "type": "string"
            },
            {
              "id": "3862d703-93ae-4394-a6de-d4c3d9508945",
              "name": "tokensUsed",
              "value": "={{ typeof $json.usage?.total_tokens === 'number' ? $json.usage.total_tokens : 0 }}",
              "type": "number"
            },
            {
              "id": "32fa1d7e-4c20-44a7-a4f9-ea39e681df91",
              "name": "generatedAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        496
      ],
      "id": "f78f936a-c1ab-4968-86f2-e7102d30835b",
      "name": "Parse Email Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1e4b2a-d2c8-415e-98d7-2d3851dc125d",
              "name": "email_to",
              "value": "={{ $('Validate Required Fields').item.json.email_clean }}",
              "type": "string"
            },
            {
              "id": "4d6eef4f-5d92-438b-9bc9-fc6a4c346fc6",
              "name": "email_subject_final",
              "value": "={{ $('Parse Subject Line').item.json.subject_final }}",
              "type": "string"
            },
            {
              "id": "5cd0e31c-1113-48ab-9940-f61242621b78",
              "name": "email_body_final",
              "value": "={{ $json.body_final }}",
              "type": "string"
            },
            {
              "id": "825f947b-7cb8-43ab-9d50-3a8c3901e26c",
              "name": "personalizedFor",
              "value": "={{ $('Mock Data').item.json.firstName }}",
              "type": "string"
            },
            {
              "id": "0722dbb9-4b52-4e0d-b217-33058385e7b2",
              "name": "aiModel",
              "value": "={{ $json.model }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        336
      ],
      "id": "415eaebc-f1e7-49f0-aae3-ff7d23e4d0c6",
      "name": "Structure Email Object"
    },
    {
      "parameters": {
        "content": "# Module 2 - AI Personalization Engine #",
        "height": 384,
        "width": 944,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        256
      ],
      "typeVersion": 1,
      "id": "4fe337e9-9f2a-4040-a555-8df989a449f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Module 3: Email Delivery & Tracking #",
        "height": 384,
        "width": 944,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -176
      ],
      "typeVersion": 1,
      "id": "3e9cc7a6-dfb7-45db-ac4e-f58a7b9a4a98",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject_final }}",
        "emailType": "text",
        "message": "={{ $json.email_body_final }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        -48
      ],
      "id": "63ff6189-35d5-42a2-813a-9256fdf3f18e",
      "name": "Email Delivery",
      "webhookId": "6f051e3e-56c6-4bdd-9d7f-344441b21473",
      "credentials": {
        "gmailOAuth2": {
          "id": "0uqfvyImAPjePp8x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81835af9-3bed-4ef5-8859-ef389bcf9fee",
              "name": "campaignId",
              "value": "=reno-outreach-{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "2a0547b6-00c7-417b-81df-b1f4f2f5b3f9",
              "name": "estimatedCost",
              "value": "={{ ($('Structure Email Object').item.json.usage.total_tokens || 0) * 0.000002 }}",
              "type": "string"
            },
            {
              "id": "72aea0d2-6ffb-4f64-8214-c86195ae524a",
              "name": "deliveryStatus",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "2dcbe3a8-84aa-48d2-9c55-7477fc89d296",
              "name": "sentAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -48
      ],
      "id": "ae12946d-a54f-4965-833d-e262603f02a3",
      "name": "Calculate Costs"
    },
    {
      "parameters": {
        "content": "# Module 4: Error Handling & Recovery & #\n# Module 5 - Analytics & Monitoring #",
        "height": 384,
        "width": 944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        256
      ],
      "typeVersion": 1,
      "id": "cfeb078c-7362-4de7-9208-b3d639264591",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9e5ca54-5182-4406-9d2f-0413aa4da67b",
              "name": "errorTimestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "8aee9806-893c-498b-990f-ccfcb2cf88cf",
              "name": "errorCategory",
              "value": "data_validation",
              "type": "string"
            },
            {
              "id": "d82876c8-57ef-4530-b0eb-0409c1cb0ba8",
              "name": "contactId",
              "value": "={{ $json.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "86515403-98b0-4c70-8e7c-758598b802dd",
              "name": "emailAttempted",
              "value": "={{ $json.email || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "31b0ca82-6320-49f5-a7c5-53dcfdeb9a8d",
              "name": "validationErrors",
              "value": "={{ $json.hasValidEmail ? '' : 'Invalid email; ' }}{{ $json.hasValidName ? '' : 'Missing name; ' }}{{ $json.hasProjectType ? '' : 'Missing project type; ' }}",
              "type": "string"
            },
            {
              "id": "3b0c848c-c4ef-4c7f-958b-39d8e84a1e1f",
              "name": "recoveryAction",
              "value": "manual_review_required",
              "type": "string"
            },
            {
              "id": "57e11a48-921f-403e-9e30-3af001b99b0a",
              "name": "workflowStep",
              "value": "data_validation",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        464
      ],
      "id": "b99deb54-7758-446e-9682-9f09831bdf3d",
      "name": "Log Validation Errors"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65a3725f-9ea3-40d6-a830-0b9145329bd6",
              "name": "fallback_subject",
              "value": "={{ $json.projectType === 'Villa Renovation' ? 'Transform Your Villa with Reno\\\\'s Expert Network' : 'Streamline Your ' + ($json.projectType || 'Renovation') + ' Project with Reno' }}",
              "type": "string"
            },
            {
              "id": "be5b8171-46f1-47b5-bf37-5747fcd87876",
              "name": "fallback_body",
              "value": "=Hi {{ $json.firstName_clean }},\\\\n\\\\n{{ $json.projectType === 'Villa Renovation' ? 'I noticed you\\\\'re planning a villa renovation in ' + $json.location + '. At Reno, we specialize in connecting property owners with Dubai\\\\'s most trusted renovation contractors.\\\\n\\\\nOur platform offers:\\\\n✓ AI-powered contractor matching\\\\n✓ Transparent, competitive pricing\\\\n✓ Real-time project tracking\\\\n✓ Quality assurance guarantee\\\\n\\\\nFor villa projects in your area, we typically save clients 15-20% while ensuring faster completion times.\\\\n\\\\nInterested in a free project consultation?' : 'Reno is transforming how renovation projects are managed across the UAE. Our platform connects you with verified contractors, provides transparent pricing, and ensures quality delivery.\\\\n\\\\nKey benefits:\\\\n✓ Trusted contractor network\\\\n✓ Competitive pricing\\\\n✓ Project timeline tracking\\\\n✓ Quality assurance\\\\n\\\\nReady to experience stress-free renovation?' }}\\\\n\\\\nBest regards,\\\\nThe Reno Team",
              "type": "string"
            },
            {
              "id": "66ad3414-0f01-455f-8b61-eaf5e0911114",
              "name": "fallbackUsed",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1bf99dae-62e7-4f58-b6c5-ed10549de78c",
              "name": "tokensUsed",
              "value": 0,
              "type": "number"
            },
            {
              "id": "c1ad5985-0bee-4535-a7fa-d941153dfb1e",
              "name": "aiModel",
              "value": "fallback_template",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        464
      ],
      "id": "cbb875fb-8852-49c0-955d-eac098c93f6e",
      "name": "Create Fallback Template"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1536,
        464
      ],
      "id": "17806667-709f-4de0-ad31-5e9a66169b89",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c289dc02-d234-480a-912f-7970f16a8623",
              "name": "totalEmails",
              "value": "={{ $json.emailCount || 0 }}",
              "type": "number"
            },
            {
              "id": "68317bf8-29d4-495f-a0c4-e8c5594541f5",
              "name": "successfulSends",
              "value": "={{ $json.emailCount || 0 }}",
              "type": "number"
            },
            {
              "id": "7b2e117d-4a63-4ad2-9308-83a8433a8fa8",
              "name": "averageTokensPerEmail",
              "value": "={{ $json.emailCount > 0 ? Math.round($json.totalTokens / $json.emailCount) : 0 }}",
              "type": "number"
            },
            {
              "id": "841b29c6-48d1-4fba-860f-bad3de4461fc",
              "name": "costPerEmail",
              "value": "={{ $json.emailCount > 0 ? ($json.totalCost / $json.emailCount).toFixed(6) : 0 }}",
              "type": "number"
            },
            {
              "id": "b9cac140-14d9-4174-a0fa-95eb6fdb2835",
              "name": "campaignDate",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "8320773b-f1ed-433c-8045-bbc8fdd3345b",
              "name": "errorRate",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        464
      ],
      "id": "ca179a5d-2760-4512-ac56-3bec9a101d34",
      "name": "Calculate Performance Metrics"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Data": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Data Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Quality Check": {
      "main": [
        [
          {
            "node": "Build Personalization Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Personalization Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Subject Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Subject Line": {
      "main": [
        [
          {
            "node": "Parse Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Body": {
      "main": [
        [
          {
            "node": "Structure Email Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Email Object": {
      "main": [
        [
          {
            "node": "Email Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Delivery": {
      "main": [
        [
          {
            "node": "Calculate Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Costs": {
      "main": [
        []
      ]
    },
    "Log Validation Errors": {
      "main": [
        [
          {
            "node": "Create Fallback Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Fallback Template": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Calculate Performance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "217b6842-5288-41a9-9a4d-872565cf8a69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff133700c8dcc4b4e27feb6898546611b3d066d4ac91b4bbfdc330eeaa7cf10e"
  },
  "id": "d3C7LHWiP6VvQmhJ",
  "tags": []
}