N8N Workflows/Doctor Appointment System/Confirm Processor.json
{
  "name": "Confirm Processor",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4e8f5c7-3875-4d42-a145-a867bf8a96cd",
              "name": "appointment_id",
              "value": "={{ $json.appointment_id }}",
              "type": "string"
            },
            {
              "id": "32f6438f-86d2-4cae-9bd5-31da1efa2c66",
              "name": "patient_id",
              "value": "={{ $json.patient_id }}",
              "type": "string"
            },
            {
              "id": "a7690695-f46d-43e6-905a-64ad39576783",
              "name": "patient_name",
              "value": "={{ $json.patient_name }}",
              "type": "string"
            },
            {
              "id": "e0bffe5e-9056-4fa2-9f16-f27f779c2599",
              "name": "confirmation_status",
              "value": "confirmed",
              "type": "string"
            },
            {
              "id": "cce27ae2-10e0-41b3-82ce-6a25667bc970",
              "name": "confirmed_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3fe2c5e9-63a6-4c4e-beaa-4754f53ca346",
              "name": "confirmed_by",
              "value": "={{ $json.requested_by || 'patient' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        736
      ],
      "id": "cfef018a-dde2-428a-b66d-45fac0063de9",
      "name": "Confirm Processor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68d3a473-8d70-4f36-9bfe-2c67785582cc",
              "leftValue": "={{ $json.appointment_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        736
      ],
      "id": "6041fe94-2f86-4f6b-b962-9e5c2f2025aa",
      "name": "Confirm Validator"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "appointment_id",
              "type": "any"
            },
            {
              "name": "patient_id",
              "type": "any"
            },
            {
              "name": "patient_name",
              "type": "any"
            },
            {
              "name": "requested_by",
              "type": "any"
            }
          ]
        }
      },
      "id": "53d91d70-e48e-4266-bca0-ea4b74ebbef1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -352,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://d3a7a6dafaa0.ngrok-free.app/mockdata/{{ $json.appointment_id ? '/' + $json.appointment_id : '' }}",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \\\"patient_id\\\": \\\"{{ $json.patient_id }}\\\",\\n  \\\"doctor_name\\\": \\\"{{ $json.doctor_name }}\\\",\\n  \\\"appointment_date\\\": \\\"{{ $json.appointment_date || $json.new_requested_date }}\\\",\\n  \\\"appointment_time\\\": \\\"{{ $json.appointment_time || $json.new_requested_time }}\\\",\\n  \\\"appointment_type\\\": \\\"{{ $json.appointment_type || 'General' }}\\\",\\n  \\\"status\\\": \\\"{{ $json.confirmation_status || 'scheduled' }}\\\",\\n  \\\"notes\\\": \\\"{{ $json.notes || $json.reason || '' }}\\\",\\n  \\\"priority\\\": \\\"{{ $json.priority || 'normal' }}\\\",\\n  \\\"action\\\": \\\"{{ $json.webhook_type || 'schedule' }}\\\"\\n}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "response": {
            "response": {}
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        640
      ],
      "id": "111c301d-fa9f-432d-b351-90899f41ce0d",
      "name": "Healthcare System Updater"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "110490d3-bebe-4404-b0d4-0befc7d23893",
              "name": "error_id",
              "value": "={{ $runIndex }}-{{ Date.now() }}",
              "type": "string"
            },
            {
              "id": "fa9e3050-12c5-4675-8476-d32934bfdd3e",
              "name": "error_type",
              "value": "={{ $json.patient_id ? ($json.appointment_id ? 'validation_error' : 'missing_appointment_id') : 'missing_patient_data' }}",
              "type": "string"
            },
            {
              "id": "b9ec45d5-7d6c-4445-96c9-cf51e7086d73",
              "name": "error_message",
              "value": "={{ $json.patient_id ? ($json.appointment_id ? 'Required fields missing for appointment processing' : 'Appointment ID not provided') : 'Patient information incomplete' }}",
              "type": "string"
            },
            {
              "id": "74b9005b-fc88-4898-866c-860f1d912cb1",
              "name": "failed_data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "1758c940-89a5-4e64-ad68-a718190a4122",
              "name": "resolution_suggestion",
              "value": "={{ $json.patient_id ? ($json.appointment_id ? 'Please provide all required fields: patient_id, doctor_name, date, time' : 'Please provide appointment ID for modification requests') : 'Please provide complete patient information including ID, name, and contact details' }}",
              "type": "string"
            },
            {
              "id": "b789dbd0-4ff2-427d-b91f-d54a60fa44ee",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        928
      ],
      "id": "490fce97-3517-46b9-bb9d-23d29c2af87c",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "from": "+1234567890",
        "to": "+0987654321",
        "message": "Your appointment has been confirmed.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        544,
        544
      ],
      "id": "abfd1b17-56b8-4a41-9df1-8d9f99884f0e",
      "name": "Patient Communicator",
      "credentials": {
        "twilioApi": {
          "id": "7KaOUFh7IIu5Abnw",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#general",
          "mode": "name"
        },
        "text": "={\\n  \\\"channel\\\": \\\"#appointments\\\",\\n  \\\"username\\\": \\\"Appointment Bot\\\",\\n  \\\"icon_emoji\\\": \\\":calendar:\\\",\\n  \\\"text\\\": \\\"Appointment Update\\\",\\n  \\\"attachments\\\": [\\n    {\\n      \\\"color\\\": \\\"{{ $json.status === 'confirmed' ? 'good' : $json.status === 'cancelled' ? 'danger' : 'warning' }}\\\",\\n      \\\"title\\\": \\\"{{ $json.webhook_type === 'schedule' ? 'New Appointment' : $json.webhook_type === 'reschedule' ? 'Rescheduled Appointment' : $json.webhook_type === 'cancel' ? 'Cancelled Appointment' : 'Confirmed Appointment' }}\\\",\\n      \\\"fields\\\": [\\n        {\\n          \\\"title\\\": \\\"Patient\\\",\\n          \\\"value\\\": \\\"{{ $json.patient_name }}\\\",\\n          \\\"short\\\": true\\n        },\\n        {\\n          \\\"title\\\": \\\"Doctor\\\",\\n          \\\"value\\\": \\\"{{ $json.doctor_name }}\\\",\\n          \\\"short\\\": true\\n        },\\n        {\\n          \\\"title\\\": \\\"Date & Time\\\", \\n          \\\"value\\\": \\\"{{ $json.appointment_date }} at {{ $json.appointment_time }}\\\",\\n          \\\"short\\\": true\\n        },\\n        {\\n          \\\"title\\\": \\\"Type\\\",\\n          \\\"value\\\": \\\"{{ $json.appointment_type }}\\\",\\n          \\\"short\\\": true\\n        }\\n      ],\\n      \\\"footer\\\": \\\"Healthcare System\\\",\\n      \\\"ts\\\": {{ Math.floor(Date.now() / 1000) }}\\n    }\\n  ]\\n}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        544,
        736
      ],
      "id": "a5e58341-fa99-4af6-b51d-a2557bace5f8",
      "name": "Staff Notifier",
      "webhookId": "3db0d2d4-041a-4a33-84db-7d46a40150b7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xcg951jkmPlzFM5W",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get error details from input\nconst errorData = $input.item.json;\nconst errorType = errorData.error_type;\nconst originalData = JSON.parse(errorData.failed_data || '{}');\n\n// Define error response templates\nconst errorTemplates = {\n  missing_patient_data: {\n    code: 'PATIENT_DATA_MISSING',\n    title: 'Patient Information Required',\n    message: 'We need your complete information to process your ' +\n      'appointment request.',\n    user_message: 'Please provide your patient ID, full name, phone ' +\n      'number, and email address.',\n    severity: 'high'\n  },\n  missing_appointment_id: {\n    code: 'APPOINTMENT_ID_MISSING', \n    title: 'Appointment Reference Missing',\n    message: 'Appointment ID is required for modification or ' +\n      'cancellation requests.',\n    user_message: 'Please provide your appointment confirmation number.',\n    severity: 'medium'\n  },\n  validation_error: {\n    code: 'VALIDATION_FAILED',\n    title: 'Incomplete Request',\n    message: 'Some required information is missing from your ' +\n      'appointment request.',\n    user_message: 'Please check that you\\'ve provided doctor name, ' +\n      'preferred date, and time.',\n    severity: 'medium'\n  },\n  availability_error: {\n    code: 'SLOT_UNAVAILABLE',\n    title: 'Time Slot Not Available', \n    message: 'The requested appointment time is not available.',\n    user_message: 'Please choose from the alternative times we\\'ve ' +\n      'suggested or call our office.',\n    severity: 'low'\n  },\n  system_error: {\n    code: 'SYSTEM_ERROR',\n    title: 'System Temporarily Unavailable',\n    message: 'Our appointment system is temporarily unavailable.',\n    user_message: 'Please try again in a few minutes or call our ' +\n      'office directly.',\n    severity: 'high'\n  }\n};\n\n// Get error template or use default\nconst template = errorTemplates[errorType] || errorTemplates.system_error;\n\n// Generate response\nconst response = {\n  error_code: template.code,\n  error_title: template.title,\n  error_message: template.message,\n  user_friendly_message: template.user_message,\n  severity: template.severity,\n  patient_name: originalData.patient_name || 'Valued Patient',\n  patient_contact: originalData.patient_phone || \n    originalData.patient_email || '',\n  timestamp: new Date().toISOString(),\n  support_phone: '555-DOCTOR',\n  support_email: 'appointments@healthcare.com',\n  resolution_steps: [\n    'Review the information you provided',\n    'Ensure all required fields are complete',\n    'Try submitting your request again',\n    'Contact our office if the problem continues'\n  ],\n  original_request_id: errorData.error_id,\n  retry_possible: template.severity !== 'high'\n};\n\nreturn {\n  json: {\n    ...errorData,\n    ...response\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        928
      ],
      "id": "f74f3a56-9b3b-42ba-8567-db9b68729c75",
      "name": "Error Response Generator"
    },
    {
      "parameters": {
        "from": "+0987654321",
        "to": "+1234567890",
        "message": "=Hello {{ $json.patient_name }}, {{ $json.user_friendly_message }} {{ $json.support_phone ? 'Please call ' + $json.support_phone + ' for assistance.' : '' }} Reference: {{ $json.original_request_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        768,
        928
      ],
      "id": "c1c13509-90c1-49e5-a78f-a0589ed7d662",
      "name": "Error Communicator",
      "credentials": {
        "twilioApi": {
          "id": "7KaOUFh7IIu5Abnw",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Confirm Processor": {
      "main": [
        [
          {
            "node": "Confirm Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Validator": {
      "main": [
        [
          {
            "node": "Healthcare System Updater",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Confirm Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healthcare System Updater": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Patient Communicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response Generator": {
      "main": [
        [
          {
            "node": "Error Communicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da96326f-8567-4d04-b2f9-42860044b234",
  "meta": {
    "instanceId": "ff133700c8dcc4b4e27feb6898546611b3d066d4ac91b4bbfdc330eeaa7cf10e"
  },
  "id": "IXshCXOcQRUx3rQW",
  "tags": []
}