N8N Workflows/Asana-Gmail-Gdrive/Asana-Gmail-Gdrive.json
{
  "name": "Asana-Gmail-Gdrive",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "1211261430117123",
        "workspace": "1211198935502359"
      },
      "type": "n8n-nodes-base.asanaTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7fbb8c66-41eb-47fe-b07a-ea650e7572b0",
      "name": "Asana Trigger",
      "webhookId": "d7f87491-6382-40c9-ac2c-96c5589b728f",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "ZuNWvVD4GHsolEhc",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.taskName }} - Lead Materials",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xp3JUSwIrg_cqccLNNx71UmO4dF21HWz",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xp3JUSwIrg_cqccLNNx71UmO4dF21HWz"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        -320
      ],
      "id": "c56807ec-fa72-4dc8-bad2-2f730710e789",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mCqTkJXoWj7HOBsS",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isReadyToStart }}",
                    "rightValue": "Ready to Start",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bb031412-f78f-46d7-8515-60f8ee0218fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ready to Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f18c4fd5-e6c4-4687-8c79-8f554a603c6c",
                    "leftValue": "={{ $json.isNoResponse }}",
                    "rightValue": "No Response",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Response"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0155b86-a406-4fda-b6a4-28bd4d9c6344",
                    "leftValue": "={{ $json.isQuoted }}",
                    "rightValue": "Quoted",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quoted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b26d3165-76f3-4468-837f-7951bab47b06",
                    "leftValue": "={{ $json.isApproved }}",
                    "rightValue": "Approved",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d5a487f-1fe0-4e4d-9e86-cbc21b5b71f3",
                    "leftValue": "={{ $json.isPaidAndClosed }}",
                    "rightValue": "Paid and Closed",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paid and Closed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        -48
      ],
      "id": "80b4f6a8-8029-4daf-a24d-9bf75710f734",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "subtask",
        "taskId": "={{ $('Get a task').item.json.gid }}",
        "name": "Social Media Content",
        "otherProperties": {
          "notes": "=Google Drive Folder: {{ $json.link }} \nPlease upload all social media content to this folder."
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        2000,
        -320
      ],
      "id": "fc9f5125-d8e9-40f7-8341-ef92510ab2c2",
      "name": "Create a subtask",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "ZuNWvVD4GHsolEhc",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2176,
        224
      ],
      "id": "842ebf23-4fe4-4c4e-9bfc-c7790e08ba2c",
      "name": "Send a message1",
      "webhookId": "5bc8b7c3-17a0-4fa5-9a43-d37906e904c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "VIxLkRuVVU44dTo9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2000,
        48
      ],
      "id": "0f28a8a0-0669-4bdd-bb96-6f1620403b31",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Generate personalized follow-up messages based on week number\nconst leadName = (($json.taskName ?? $json.name ?? '').trim()) || 'there';\nconst weekNumber = Math.min(4, Math.max(1, Number($json.weekNumber) || 1));\nconst clientEmail = $json.clientEmail || 'client@example.com';\n\n// Progressive follow-up messages\nconst messages = {\n  1: {\n    subject: `Following up on your quote - ${leadName}`,\n    message: `Hi ${leadName},\n\nI hope this message finds you well! I wanted to follow up on the quote we sent for your project.\n\nI understand you might be busy or still considering your options, and that's completely okay. I'm here to answer any questions you might have or provide additional information that could help with your decision.\n\nSome quick questions that might help:\n- Do you need any clarification on the scope of work?\n- Would you like to discuss any adjustments to the timeline?\n- Are there budget considerations we should address?\n\nWould you like to schedule a quick 15-minute call to discuss your project in more detail? I'm available at your convenience.\n\nLooking forward to hearing from you!\n\nBest regards,\nYour Project Team`\n  },\n  \n  2: {\n    subject: `Quick check-in about your project quote - ${leadName}`,\n    message: `Hello ${leadName},\n\nI wanted to follow up on the quote we sent last week. I hope you've had a chance to review it.\n\nI understand that choosing the right service provider is an important decision, and you might need more time or have questions that haven't been addressed yet.\n\nTo make this easier for you, I'd be happy to offer:\n- A complimentary consultation to discuss your specific needs\n- Flexible timeline options to work with your schedule  \n- Custom pricing options if budget is a concern\n\nIf you have any questions or would like to discuss the proposal further, please don't hesitate to reach out.\n\nBest regards,\nYour Project Team`\n  },\n  \n  3: {\n    subject: `Still interested in moving forward? - ${leadName}`,\n    message: `Hi ${leadName},\n\nI wanted to touch base about your project quote one more time. We understand decisions take time, and we're here to support you through the process.\n\nSince we last spoke, here are a few things that might be helpful:\n- We can provide references from similar projects we've completed\n- We're flexible on start dates and can work around your schedule\n- We offer payment plans if that would make the project more manageable\n\nIf you're no longer interested, I completely understand. Just let me know so I can update our records accordingly.\n\nIf you are still considering us, I'd love to address any concerns or questions you might have.\n\nBest regards,\nYour Project Team`\n  },\n  \n  4: {\n    subject: `Final follow-up on your project quote - ${leadName}`,\n    message: `Dear ${leadName},\n\nThis will be my final follow-up regarding the quote we provided for your project.\n\nI've reached out a few times over the past month, and I understand that you may have decided to go in a different direction or that the timing isn't right for your project.\n\nI want to respect your time and inbox, so I won't be sending any additional follow-up messages.\n\nHowever, if circumstances change in the future, please don't hesitate to reach out. We'd be happy to discuss your project whenever you're ready.\n\nI genuinely appreciate you considering us for your project, and I wish you all the best with whatever direction you choose.\n\nBest regards,\nYour Project Team\n\nP.S. Your contact information will remain in our system in case you'd like to reach out in the future, but you won't receive any unsolicited messages from us.`\n  }\n};\n\n// Get the appropriate message\nconst currentMessage = messages[weekNumber] || messages[4];\n\nreturn {\n  ...($json),\n  weekNumber,\n  leadName,\n  clientEmail,\n  subject: currentMessage.subject,\n  message: currentMessage.message,\n  sentAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        224
      ],
      "id": "0a71bb67-e33c-4838-9bbe-687ca39df686",
      "name": "Week 1-4 Follow Up Quote Message"
    },
    {
      "parameters": {
        "jsCode": "// Generate 4 follow-up runs with proper timing\nconst base = $json;\n\n// Create 4 runs: Week 1 (immediate), Week 2-4 (7 days apart)\nconst runs = [1, 2, 3, 4].map((weekNumber, index) => ({\n  json: { \n    ...base, \n    weekNumber: weekNumber, \n    waitDays: index === 0 ? 0 : 7  // First run immediate, others wait 7 days\n  }\n}));\n\nconsole.log(\"Generated runs:\", runs.length);\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        48
      ],
      "id": "a9e7195d-dcab-49c4-a1cb-ee4d946f425b",
      "name": "Generate the 4 runs"
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2320,
        224
      ],
      "id": "99a74b26-c408-4381-a11a-e0830621ea0a",
      "name": "Wait",
      "webhookId": "f47f7ae3-f5b7-4ba4-a90c-f76537584aa3"
    },
    {
      "parameters": {
        "errorMessage": "Follow-up sequence completed successfully!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2240,
        32
      ],
      "id": "f8aaaeb6-b651-49ab-a6a9-39aeebc9e8b9",
      "name": "No more messages left"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $json.originalWebhookData.resource.gid }}"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "fc9b8063-9a56-46d5-85bd-e9ed7adf2342",
      "name": "Get a task",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "ZuNWvVD4GHsolEhc",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WELCOME EMAIL GENERATOR\n// Use this in the \"Generate Welcome Email\" Code node\n\nconst leadData = $input.first().json;\n\n// Extract data from our cleaned structure\nconst clientName = leadData.taskName || 'Valued Client';\nconst clientEmail = leadData.clientEmail || 'client@example.com';\nconst clientPhone = leadData.clientPhone || 'Not provided';\nconst leadStatus = leadData.leadStatus || 'Unknown';\n\n// Get current date for personalization\nconst currentDate = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Generate personalized welcome email\nconst welcomeEmail = {\n  to: clientEmail,\n  subject: `🎉 Welcome ${clientName}! Your project has been approved`,\n  html: `\n    <div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n      <!-- Header -->\n      <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 40px 20px; text-align: center; border-radius: 10px 10px 0 0;\">\n        <h1 style=\"color: #ffffff; margin: 0; font-size: 28px; font-weight: bold;\">🎉 Congratulations ${clientName}!</h1>\n        <p style=\"color: #e8f4fd; margin: 10px 0 0 0; font-size: 16px;\">Your project has been approved and we're ready to get started!</p>\n      </div>\n      \n      <!-- Main Content -->\n      <div style=\"padding: 40px 30px; background-color: #ffffff;\">\n        <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;\">\n          We're thrilled to welcome you to our service family! Your project request has been carefully reviewed and <strong>approved</strong> on ${currentDate}.\n        </p>\n        \n        <!-- Status Badge -->\n        <div style=\"background-color: #10b981; color: white; padding: 8px 16px; border-radius: 20px; display: inline-block; font-weight: bold; margin: 20px 0;\">\n          ✅ Status: ${leadStatus}\n        </div>\n        \n        <!-- What Happens Next Section -->\n        <div style=\"background-color: #f8fafc; padding: 25px; border-radius: 8px; margin: 25px 0; border-left: 4px solid #667eea;\">\n          <h3 style=\"color: #374151; margin-top: 0; font-size: 18px;\">🚀 What happens next?</h3>\n          <ul style=\"color: #6b7280; line-height: 1.8; padding-left: 20px;\">\n            <li><strong>Within 24-48 hours:</strong> Our project team will begin working on your request</li>\n            <li><strong>Project Manager Assignment:</strong> You'll be assigned a dedicated project manager</li>\n            <li><strong>Regular Updates:</strong> You'll receive progress updates throughout the project</li>\n            <li><strong>Direct Communication:</strong> Your project manager will contact you at ${clientPhone}</li>\n            <li><strong>Quality Assurance:</strong> We'll keep you informed every step of the way</li>\n          </ul>\n        </div>\n        \n        <!-- Contact Information -->\n        <div style=\"background-color: #eff6ff; padding: 20px; border-radius: 8px; margin: 25px 0;\">\n          <h4 style=\"color: #1e40af; margin-top: 0;\">📞 Your Contact Information</h4>\n          <p style=\"color: #374151; margin: 5px 0;\"><strong>Email:</strong> ${clientEmail}</p>\n          <p style=\"color: #374151; margin: 5px 0;\"><strong>Phone:</strong> ${clientPhone}</p>\n          <p style=\"color: #6b7280; font-size: 14px; margin: 15px 0 0 0;\"><em>Please ensure these details are correct for project communication.</em></p>\n        </div>\n        \n        <!-- Call to Action -->\n        <div style=\"text-align: center; margin: 30px 0;\">\n          <a href=\"mailto:project-manager@your-company.com?subject=Project%20Questions%20-%20${encodeURIComponent(clientName)}\" \n             style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); \n                    color: white; \n                    padding: 15px 30px; \n                    text-decoration: none; \n                    border-radius: 25px; \n                    font-weight: bold; \n                    display: inline-block;\n                    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);\">\n            💬 Contact Your Project Manager\n          </a>\n        </div>\n        \n        <!-- Additional Resources -->\n        <div style=\"border-top: 1px solid #e5e7eb; padding-top: 25px; margin-top: 30px;\">\n          <h4 style=\"color: #374151; margin-bottom: 15px;\">📚 Helpful Resources</h4>\n          <ul style=\"color: #6b7280; line-height: 1.6;\">\n            <li><a href=\"#\" style=\"color: #667eea; text-decoration: none;\">Project Timeline & Milestones</a></li>\n            <li><a href=\"#\" style=\"color: #667eea; text-decoration: none;\">Client Portal Access</a></li>\n            <li><a href=\"#\" style=\"color: #667eea; text-decoration: none;\">Frequently Asked Questions</a></li>\n          </ul>\n        </div>\n        \n        <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6; margin-top: 30px;\">\n          If you have any questions or concerns, please don't hesitate to reach out. We're here to ensure your project exceeds expectations!\n        </p>\n      </div>\n      \n      <!-- Footer -->\n      <div style=\"background-color: #f9fafb; padding: 25px; text-align: center; border-radius: 0 0 10px 10px; border-top: 1px solid #e5e7eb;\">\n        <p style=\"color: #6b7280; margin: 0; font-size: 14px;\">\n          <strong>Your Service Team</strong><br>\n          📧 support@your-company.com | 📞 +1 (555) 123-4567<br>\n          <a href=\"#\" style=\"color: #667eea; text-decoration: none;\">Visit our website</a>\n        </p>\n      </div>\n    </div>\n  `,\n  \n  // Plain text version for email clients that don't support HTML\n  text: `\nWelcome ${clientName}!\n\nCongratulations! Your project has been approved on ${currentDate}.\n\nWhat happens next:\n- Our team will begin working within 24-48 hours\n- You'll be assigned a dedicated project manager\n- Regular updates throughout the project\n- Direct communication at ${clientPhone}\n\nYour contact information:\nEmail: ${clientEmail}\nPhone: ${clientPhone}\n\nIf you have any questions, please contact us at support@your-company.com.\n\nBest regards,\nYour Service Team\n  `,\n  \n  // Metadata for logging/tracking\n  clientName: clientName,\n  clientEmail: clientEmail,\n  leadStatus: leadStatus,\n  sentAt: new Date().toISOString(),\n  taskId: leadData.taskId\n};\n\nreturn [welcomeEmail];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        480
      ],
      "id": "26f76500-2b4d-4103-9773-6a4e1448996e",
      "name": "Generate Approved Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        480
      ],
      "id": "a85f2a38-27cb-4a84-8d21-839e7bdcd149",
      "name": "Send a message2",
      "webhookId": "df210aeb-12f6-4f4a-9914-e588894351e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "VIxLkRuVVU44dTo9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1OIIDyYEmIi8IrRkj89c2jtM4uIF5-a17",
          "mode": "list",
          "cachedResultName": "yt shorts.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1OIIDyYEmIi8IrRkj89c2jtM4uIF5-a17/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        480
      ],
      "id": "9b072e94-2269-4a94-8e91-4ad16eb98cad",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mCqTkJXoWj7HOBsS",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FOLLOW-UP SEQUENCE GENERATOR\n// Fixed to return single email item instead of array\n\nconst leadData = $input.first().json;\n\n// Extract client information\nconst clientName = leadData.taskName || 'Valued Client';\nconst clientEmail = leadData.clientEmail || 'client@example.com';\nconst clientPhone = leadData.clientPhone || '+1234567890';\nconst taskId = leadData.taskId || 'unknown';\n\n// For \"No Response\" status, send immediate follow-up email\nconst followUpEmail = {\n  day: 1,\n  type: 'email',\n  urgency: 'gentle',\n  subject: `Following up on your inquiry - ${clientName}`,\n  message: `Hi ${clientName},\n\nI hope this message finds you well! I wanted to follow up on your recent inquiry with us.\n\nI understand you might be busy or still considering your options, and that's completely okay. I'm here to answer any questions you might have or provide additional information that could help with your decision.\n\nWould you like to schedule a quick 15-minute call to discuss your project in more detail? I'm available at your convenience.\n\nLooking forward to hearing from you!\n\nBest regards,\nYour Project Team\n\nP.S. Feel free to reply to this email or call us directly if you prefer to speak over the phone.`,\n  \n  html: `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; line-height: 1.6;\">\n  <h2 style=\"color: #2c3e50;\">Hi ${clientName}! 👋</h2>\n  \n  <p>I hope this message finds you well! I wanted to follow up on your recent inquiry with us.</p>\n  \n  <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p>I understand you might be busy or still considering your options, and that's completely okay. I'm here to answer any questions you might have or provide additional information that could help with your decision.</p>\n  </div>\n  \n  <p><strong>Would you like to schedule a quick 15-minute call to discuss your project in more detail?</strong> I'm available at your convenience.</p>\n  \n  <div style=\"text-align: center; margin: 25px 0;\">\n    <a href=\"mailto:support@your-company.com?subject=Schedule%20Call%20-%20${encodeURIComponent(clientName)}\" \n       style=\"background-color: #3498db; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; display: inline-block;\">\n       📅 Schedule a Call\n    </a>\n  </div>\n  \n  <p>Looking forward to hearing from you!</p>\n  \n  <p>Best regards,<br><strong>Your Project Team</strong></p>\n  \n  <p style=\"font-size: 14px; color: #7f8c8d;\"><em>P.S. Feel free to reply to this email or call us directly if you prefer to speak over the phone.</em></p>\n</div>`,\n  clientName,\n  clientEmail,\n  clientPhone,\n  taskId,\n  sentAt: new Date().toISOString()\n};\n\n// Return single item for immediate processing\nreturn [followUpEmail];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -128
      ],
      "id": "cd1ddf2f-2c5c-4c91-aab7-21006ad68377",
      "name": "Code2"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        -128
      ],
      "id": "d438ea68-4917-47f7-80e7-f7e55b52add3",
      "name": "Wait1",
      "webhookId": "3a9b4df5-af6c-4666-ba69-64b8fdb055d2"
    },
    {
      "parameters": {
        "jsCode": "// EXTRACT TASK ID FROM WEBHOOK EVENTS\n// Use this in Node 2: Extract Task ID\n\nconst webhookData = $input.first().json;\n\nconsole.log(\"=== WEBHOOK DEBUG ===\");\nconsole.log(\"Full webhook data:\", JSON.stringify(webhookData, null, 2));\n\nlet taskId = null;\n\n// The webhook gives us events, we need to find the task ID\nif (Array.isArray(webhookData)) {\n  console.log(\"Webhook data is an array with\", webhookData.length, \"items\");\n  \n  // Look for the task in the events\n  for (const item of webhookData) {\n    console.log(\"Checking item:\", item);\n    \n    // Check if this item is a task (not a story)\n    if (item.resource_type === 'task' && item.gid) {\n      taskId = item.gid;\n      console.log(\"Found task ID:\", taskId);\n      break;\n    }\n    \n    // Alternative: if it's an event with a task resource\n    if (item.resource && item.resource.resource_type === 'task') {\n      taskId = item.resource.gid;\n      console.log(\"Found task ID in resource:\", taskId);\n      break;\n    }\n  }\n} else {\n  console.log(\"Webhook data is not an array, checking direct access\");\n  \n  // Try direct access patterns\n  if (webhookData.resource_type === 'task') {\n    taskId = webhookData.gid;\n  } else if (webhookData.resource && webhookData.resource.resource_type === 'task') {\n    taskId = webhookData.resource.gid;\n  }\n}\n\n// If we still don't have a task ID, try the first item's GID as fallback\nif (!taskId && Array.isArray(webhookData) && webhookData.length > 0) {\n  // Use the first GID that looks like a task\n  const firstItem = webhookData[0];\n  if (firstItem.gid) {\n    taskId = firstItem.gid;\n    console.log(\"Using first item GID as fallback:\", taskId);\n  }\n}\n\nif (!taskId) {\n  throw new Error(\"Could not find task ID in webhook data\");\n}\n\nconsole.log(\"Final task ID:\", taskId);\n\nreturn [{\n  taskId: taskId,\n  originalWebhookData: webhookData,\n  extractionMethod: \"webhook_parsing\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "78bb08e5-98a0-4c5a-a70e-8f17d74116ca",
      "name": "Extract correct taskid"
    },
    {
      "parameters": {
        "jsCode": "// SAFE: Try multiple ways to access the data\nlet taskData = null;\nlet customFields = [];\n\n// Method 1: Direct access\ntry {\n  taskData = $input.first().json;\n  if (taskData && taskData.custom_fields) {\n    customFields = taskData.custom_fields;\n    console.log(\"Method 1 worked: Direct access\");\n  }\n} catch (e) {\n  console.log(\"Method 1 failed:\", e.message);\n}\n\n// Method 2: Array access (fallback)\nif (!taskData || !customFields.length) {\n  try {\n    taskData = $input.first().json[0];\n    if (taskData && taskData.custom_fields) {\n      customFields = taskData.custom_fields;\n      console.log(\"Method 2 worked: Array access\");\n    }\n  } catch (e) {\n    console.log(\"Method 2 failed:\", e.message);\n  }\n}\n\n// If we still don't have data, return debug info\nif (!taskData || !customFields.length) {\n  return [{\n    error: \"Could not find custom_fields\",\n    available_data: Object.keys($input.first().json || {}),\n    json_type: typeof $input.first().json,\n    raw_data: $input.first().json\n  }];\n}\n\n// Extract custom field values\nlet leadStatus = null;\nlet clientEmail = null;\nlet clientPhone = null;\n\nfor (const field of customFields) {\n  if (field.name === 'Lead Status') {\n    leadStatus = field.enum_value?.name || field.display_value || null;\n  }\n  if (field.name === 'Email') {\n    clientEmail = field.text_value || field.display_value || null;\n  }\n  if (field.name === 'Phone Number') {\n    clientPhone = field.text_value || field.display_value || null;\n  }\n}\n\n// Return structured data\nreturn [{\n  taskId: taskData.gid || 'unknown',\n  taskName: taskData.name || 'unknown',\n  leadStatus: leadStatus,\n  clientEmail: clientEmail,\n  clientPhone: clientPhone,\n  \n  // Boolean flags for easier routing\n  isReadyToStart: leadStatus === 'Ready to Start',\n  isApproved: leadStatus === 'Approved',\n  isNoResponse: leadStatus === 'No Response',\n  isQuoted: leadStatus === 'Quoted',\n  isPaidAndClosed: leadStatus === 'Paid and Closed',\n  \n  // Debug info\n  method_used: \"Direct access method worked\",\n  custom_fields_count: customFields.length\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "38948dee-5862-4ad7-b178-5e0be9ff9206",
      "name": "Extract Custom Fields"
    },
    {
      "parameters": {
        "jsCode": "// SERVICE RECOMMENDATION EMAIL GENERATOR\n// Generates personalized service maintenance recommendations\n\nconst leadData = $input.first().json;\n\n// Extract client information\nconst clientName = leadData.taskName || 'Valued Client';\nconst clientEmail = leadData.clientEmail || 'client@example.com';\nconst clientPhone = leadData.clientPhone || 'Not provided';\nconst taskId = leadData.taskId || 'unknown';\n\n// Get current date for personalization\nconst currentDate = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Determine service type based on task name (you can customize this logic)\nconst taskName = (leadData.taskName || '').toLowerCase();\nlet serviceType = 'general';\nlet serviceCategory = 'General Service';\n\nif (taskName.includes('website') || taskName.includes('web') || taskName.includes('site')) {\n  serviceType = 'website';\n  serviceCategory = 'Website Development';\n} else if (taskName.includes('marketing') || taskName.includes('social') || taskName.includes('seo')) {\n  serviceType = 'marketing';\n  serviceCategory = 'Marketing Services';\n} else if (taskName.includes('design') || taskName.includes('logo') || taskName.includes('brand')) {\n  serviceType = 'design';\n  serviceCategory = 'Design Services';\n}\n\n// Service-specific recommendations\nconst serviceRecommendations = {\n  website: {\n    mainServices: [\n      \"Website Performance Optimization\",\n      \"Security Updates & Monitoring\", \n      \"Content Management Training\",\n      \"SEO Enhancement Package\",\n      \"Mobile Responsiveness Audit\"\n    ],\n    timeline: \"We recommend reviewing your website performance quarterly and implementing updates as needed.\",\n    followUpPeriod: \"3 months\"\n  },\n  \n  marketing: {\n    mainServices: [\n      \"Campaign Performance Analysis\",\n      \"Social Media Strategy Refresh\",\n      \"Content Calendar Development\",\n      \"Lead Generation Optimization\",\n      \"Brand Consistency Audit\"\n    ],\n    timeline: \"Marketing strategies should be reviewed and refreshed every 6 months to maintain effectiveness.\",\n    followUpPeriod: \"6 months\"\n  },\n  \n  design: {\n    mainServices: [\n      \"Brand Guidelines Documentation\",\n      \"Design Asset Library Creation\",\n      \"Print Material Templates\",\n      \"Digital Asset Optimization\",\n      \"Brand Consistency Review\"\n    ],\n    timeline: \"Design assets and brand guidelines should be reviewed annually or when expanding services.\",\n    followUpPeriod: \"12 months\"\n  },\n  \n  general: {\n    mainServices: [\n      \"Service Performance Review\",\n      \"Process Optimization Consultation\",\n      \"Technology Stack Assessment\", \n      \"Training & Documentation\",\n      \"Maintenance & Support Planning\"\n    ],\n    timeline: \"We recommend regular service reviews to ensure optimal performance and identify improvement opportunities.\",\n    followUpPeriod: \"6 months\"\n  }\n};\n\nconst recommendations = serviceRecommendations[serviceType];\n\n// Generate email content\nconst emailSubject = `Thank you ${clientName}! Recommended next steps for your ${serviceCategory}`;\n\nconst emailMessage = `Dear ${clientName},\n\nThank you for choosing us for your ${serviceCategory} project! We're thrilled that your project has been completed successfully and payment has been processed.\n\nPROJECT COMPLETION SUMMARY\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n✅ Project: ${leadData.taskName}\n✅ Completion Date: ${currentDate}\n✅ Status: Paid and Closed\n✅ Next Review: In ${recommendations.followUpPeriod}\n\nRECOMMENDED NEXT STEPS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTo help you get the most value from your investment, we recommend considering these complementary services:\n\n${recommendations.mainServices.map((service, index) => `${index + 1}. ${service}`).join('\\n')}\n\nMAINTENANCE TIMELINE\n${recommendations.timeline}\n\nWHY THESE SERVICES MATTER\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMaintaining and enhancing your ${serviceCategory.toLowerCase()} ensures:\n- Continued optimal performance\n- Protection of your investment\n- Competitive advantage in your market\n- Compliance with industry standards\n- Maximum ROI from your initial project\n\nSPECIAL CLIENT OFFER\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nAs a valued client, you're eligible for:\n🎯 15% discount on maintenance services\n🎯 Priority scheduling for urgent requests\n🎯 Complimentary consultation call (30 minutes)\n🎯 Extended warranty on additional work\n\nREADY TO DISCUSS YOUR NEXT STEPS?\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nWe'd love to schedule a brief consultation to discuss how these services can benefit your business.\n\n📅 Schedule a call: [Book directly on our calendar]\n📧 Email us: reply to this message with your questions\n📞 Call us: [Your phone number]\n\nWe're here to support your continued success!\n\nBest regards,\nYour Service Team\n\nP.S. We'd be grateful if you could leave us a review or refer us to colleagues who might benefit from our services. Your success stories help us grow!\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nThis email was sent because your project \"${leadData.taskName}\" has been completed.\nContact us anytime at [support email] or [phone number].`;\n\n// HTML version for better presentation\nconst emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Service Recommendations - ${clientName}</title>\n</head>\n<body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px;\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #28a745 0%, #20c997 100%); padding: 30px 20px; text-align: center; border-radius: 10px 10px 0 0; color: white;\">\n        <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">🎉 Project Complete!</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 16px; opacity: 0.9;\">Thank you ${clientName} - Here's what's next</p>\n    </div>\n    \n    <!-- Main Content -->\n    <div style=\"background-color: #ffffff; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n        \n        <!-- Completion Summary -->\n        <div style=\"background-color: #e8f5e8; padding: 20px; border-radius: 8px; margin-bottom: 25px; border-left: 4px solid #28a745;\">\n            <h3 style=\"color: #155724; margin-top: 0; font-size: 18px;\">Project Completion Summary</h3>\n            <ul style=\"color: #155724; line-height: 1.8; margin-bottom: 0;\">\n                <li><strong>Project:</strong> ${leadData.taskName}</li>\n                <li><strong>Completion Date:</strong> ${currentDate}</li>\n                <li><strong>Status:</strong> Paid and Closed</li>\n                <li><strong>Next Review:</strong> In ${recommendations.followUpPeriod}</li>\n            </ul>\n        </div>\n        \n        <!-- Recommended Services -->\n        <div style=\"margin-bottom: 25px;\">\n            <h3 style=\"color: #333; font-size: 18px; margin-bottom: 15px;\">Recommended Next Steps</h3>\n            <p style=\"color: #666; margin-bottom: 15px;\">To help you get the most value from your investment in ${serviceCategory.toLowerCase()}, we recommend:</p>\n            <ol style=\"color: #444; line-height: 1.8;\">\n                ${recommendations.mainServices.map(service => `<li>${service}</li>`).join('')}\n            </ol>\n        </div>\n        \n        <!-- Timeline -->\n        <div style=\"background-color: #fff3cd; padding: 20px; border-radius: 8px; margin-bottom: 25px; border-left: 4px solid #ffc107;\">\n            <h4 style=\"color: #856404; margin-top: 0;\">Maintenance Timeline</h4>\n            <p style=\"color: #856404; margin-bottom: 0;\">${recommendations.timeline}</p>\n        </div>\n        \n        <!-- Special Offer -->\n        <div style=\"background-color: #d1ecf1; padding: 20px; border-radius: 8px; margin-bottom: 25px; border-left: 4px solid #17a2b8;\">\n            <h4 style=\"color: #0c5460; margin-top: 0;\">Special Client Offer</h4>\n            <ul style=\"color: #0c5460; line-height: 1.8; margin-bottom: 0;\">\n                <li>15% discount on maintenance services</li>\n                <li>Priority scheduling for urgent requests</li>\n                <li>Complimentary 30-minute consultation</li>\n                <li>Extended warranty on additional work</li>\n            </ul>\n        </div>\n        \n        <!-- Call to Action -->\n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"mailto:support@your-company.com?subject=Service%20Consultation%20-%20${encodeURIComponent(clientName)}\" \n               style=\"background: linear-gradient(135deg, #28a745 0%, #20c997 100%); \n                      color: white; \n                      padding: 15px 30px; \n                      text-decoration: none; \n                      border-radius: 25px; \n                      font-weight: bold; \n                      display: inline-block;\n                      box-shadow: 0 4px 15px rgba(40, 167, 69, 0.3);\">\n                📅 Schedule Your Consultation\n            </a>\n        </div>\n        \n        <!-- Contact Info -->\n        <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 8px; text-align: center;\">\n            <h4 style=\"color: #6c757d; margin-top: 0;\">Ready to Discuss Next Steps?</h4>\n            <p style=\"color: #6c757d; margin: 10px 0;\">\n                📧 <a href=\"mailto:support@your-company.com\" style=\"color: #17a2b8;\">support@your-company.com</a><br>\n                📞 +1 (555) 123-4567<br>\n                🌐 <a href=\"#\" style=\"color: #17a2b8;\">Visit our website</a>\n            </p>\n        </div>\n        \n        <p style=\"color: #6c757d; font-size: 14px; text-align: center; margin-top: 20px;\">\n            We're here to support your continued success!<br>\n            <em>P.S. We'd be grateful for any reviews or referrals you can share.</em>\n        </p>\n    </div>\n</body>\n</html>`;\n\n// Return email data\nreturn [{\n  clientName,\n  clientEmail,\n  clientPhone,\n  taskId,\n  serviceType,\n  serviceCategory,\n  subject: emailSubject,\n  message: emailMessage,\n  html: emailHTML,\n  recommendations: recommendations.mainServices,\n  followUpDate: new Date(Date.now() + (parseInt(recommendations.followUpPeriod) * 30 * 24 * 60 * 60 * 1000)).toISOString(),\n  sentAt: new Date().toISOString()\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        720
      ],
      "id": "f43c045e-b2e5-43f5-bbc3-dcef547ae20f",
      "name": "Generate Recommendation Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        720
      ],
      "id": "5b5eb5b7-28ad-4adb-bb2a-cfef626fcca9",
      "name": "Send a message",
      "webhookId": "41aa6d17-412d-4697-a599-eabe1e214e64",
      "credentials": {
        "gmailOAuth2": {
          "id": "VIxLkRuVVU44dTo9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const isFolder = $json.mimeType === 'application/vnd.google-apps.folder';\nconst link = isFolder\n  ? `https://drive.google.com/drive/folders/${$json.id}`\n  : `https://drive.google.com/file/d/${$json.id}/view`;\nreturn { ...$json, link };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -320
      ],
      "id": "c96de7ef-f5e9-4a57-88c3-d57aeab2997b",
      "name": "Get Folder Link"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code2').item.json.clientEmail }}",
        "subject": "={{ $('Code2').item.json.subject }}",
        "message": "={{ $('Code2').item.json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -128
      ],
      "id": "561a8afd-9943-44f9-92e4-b224b8b11db5",
      "name": "Send Follow Up Email",
      "webhookId": "008ff1ce-af53-4e08-8311-f6df965173d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "VIxLkRuVVU44dTo9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Asana Trigger": {
      "main": [
        [
          {
            "node": "Extract correct taskid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate the 4 runs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Approved Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Recommendation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Get Folder Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No more messages left",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Week 1-4 Follow Up Quote Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Week 1-4 Follow Up Quote Message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate the 4 runs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Extract Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Approved Email": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Follow Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract correct taskid": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Custom Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recommendation Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Get Folder Link": {
      "main": [
        [
          {
            "node": "Create a subtask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "408212ea-1af8-47f3-a75e-e828834769c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4c3b75356d6a61510c8243f04ffa1f078be7dea5992cd7004e119fc4723ae75"
  },
  "id": "pwkhiUDVD8GWPKgV",
  "tags": []
}