N8N Workflows/Email-SMS AI Trello Automation/Email_SMS AI Trello Automation.json
{
  "name": "Email/SMS AI Trello Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "db1418e1-f82f-428b-b8da-e02ab1b6424d",
      "name": "VoIPline SMS Webhook",
      "webhookId": "680b8df2-ccd9-49a1-8071-0317d6c4a170"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0bb0c7d-6472-4cb5-a8e0-21e309288d2b",
              "leftValue": "={{ $json.body.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "23b816c3-2eab-455a-9d2b-45f9a285c2bf",
              "leftValue": "={{ $json.body.from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        0
      ],
      "id": "b38ee563-6f5a-4bce-a9ce-5c5e30d3f882",
      "name": "SMS Content Validator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1319ab86-3146-4e9f-a487-af9d2fe54e62",
              "name": "source_type",
              "value": "SMS",
              "type": "string"
            },
            {
              "id": "ca243fbe-a680-4518-b78e-4c5ef37d58e7",
              "name": "sender",
              "value": "={{ $json.body.from }}",
              "type": "string"
            },
            {
              "id": "3df3a205-1442-43dc-b01e-09943f86e4bd",
              "name": "content",
              "value": "={{ $json.body.body }}",
              "type": "string"
            },
            {
              "id": "5f5ef961-addc-436d-a06c-c345763144f3",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "6ec87ded-01b7-451d-bdad-6e7731ece056",
              "name": "phone_number",
              "value": "={{ $json.body.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -96
      ],
      "id": "fbb2e676-ade2-4fc3-9afe-b59f3d31d88d",
      "name": "SMS Data Formatter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0440662-ec39-4796-ab52-a31ef7a7383b",
              "name": "error_type",
              "value": "SMS_VALIDATION_FAILED",
              "type": "string"
            },
            {
              "id": "36b8a223-6558-4b85-938e-702ec70fa329",
              "name": "error_message",
              "value": "Missing required SMS fields: body or from",
              "type": "string"
            },
            {
              "id": "64166595-b690-4239-96fe-c3b84ae2decb",
              "name": "raw_data",
              "value": "={{ JSON.stringify($('SMS Content Validator').item.json) }}",
              "type": "string"
            },
            {
              "id": "fec621fa-87d5-4653-9c92-abc14a191384",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        96
      ],
      "id": "e7b6955b-7918-4985-9475-0897ec078b20",
      "name": "SMS Error Logger"
    },
    {
      "parameters": {
        "jsCode": "// Client lookup with phone normalization\nconst phoneNumber = $input.item.json.sender;\nconst content = $input.item.json.content;\n\n// Normalize phone number\nconst normalized = phoneNumber.replace(/[^\\d]/g, '');\n\n// Client database (in production, use external DB)\nconst clients = {\n  '1234567890': {\n    name: 'TechCorp',\n    priority: 'high',\n    board_id: 'board_techcorp_123',\n    list_id: 'list_urgent_456'\n  },\n  '1555123456': {\n    name: 'DesignCo', \n    priority: 'medium',\n    board_id: 'board_designco_789',\n    list_id: 'list_projects_012'\n  }\n};\n\n// Find client by normalized number\nlet client = clients[normalized.slice(-10)] || {\n  name: 'Unknown Client',\n  priority: 'low',\n  board_id: 'board_general_345',\n  list_id: 'list_inbox_678'\n};\n\n// Auto-detect priority from content keywords\nconst urgentKeywords = ['urgent', 'asap', 'emergency', 'critical', 'down', 'error'];\nconst isUrgent = urgentKeywords.some(keyword => \n  content.toLowerCase().includes(keyword)\n);\n\nif (isUrgent && client.priority !== 'high') {\n  client.priority = 'high';\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    client_name: client.name,\n    priority: client.priority,\n    board_id: client.board_id,\n    list_id: client.list_id,\n    normalized_phone: normalized\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -96
      ],
      "id": "bcf115a5-7fbc-4cef-b970-c047c4458b38",
      "name": "SMS Client Lookup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('SMS Client Lookup').item.json.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3bb75c56-e271-478c-8c6c-699736611163"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high_priority_allow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04c34bd4-23e9-40fd-916d-3b9715f14b2d",
                    "leftValue": "={{ $('SMS Client Lookup').item.json.priority }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medium_priority_allow"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        -112
      ],
      "id": "cce109e1-be62-4e8f-af0c-4f2c63f7ec21",
      "name": "SMS Rate Controller"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf43e96e-dd60-4ae7-acbb-ab8ed997dff7",
              "name": "ready_for_ai",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "7f8117ee-895d-4321-9781-1eae3fa6aba6",
              "name": "processing_timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "474ffb91-abcc-4f69-9f51-128671766e3b",
              "name": "module_source",
              "value": "SMS_INPUT_MODULE",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -112
      ],
      "id": "a3c7861f-b7e6-4356-8a90-4e1b5afa510a",
      "name": "SMS Route Controller"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        288
      ],
      "id": "6a3d1184-4287-4f97-a21f-3ae59c25bdea",
      "name": "Gmail Inbox Monitor",
      "credentials": {
        "gmailOAuth2": {
          "id": "0uqfvyImAPjePp8x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "904d66c8-559d-45d5-ba1a-3e1a24859102",
              "leftValue": "={{ $json.From }}",
              "rightValue": "@(techcorp|designco|client).com",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "6f93951f-f155-4ff2-8b99-42be17da8053",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "(urgent|support|help|issue|problem|request)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        288
      ],
      "id": "6ff85045-0481-466e-9368-971d4bb2dab7",
      "name": "Email Relevance Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9371d98-900d-4b36-8cda-c8a80d1f1a1c",
              "name": "clean_subject",
              "value": "={{ $('Email Relevance Filter').item.json.subject.replace(/^(Re:|Fwd:|FW:|RE:)\\\\s*/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "7e4b17c5-550e-4df0-ba69-83b8c4f335b7",
              "name": "clean_body",
              "value": "={{ $('Email Relevance Filter').item.json.body.split('\\\\n\\\\nSent from')[0].split('\\\\n\\\\n---')[0].split('\\\\n\\\\nBest regards')[0] }}",
              "type": "string"
            },
            {
              "id": "02fcc6c2-cdcd-4d38-b43a-b0eba4b4d70f",
              "name": "sender_email",
              "value": "={{ $('Email Relevance Filter').item.json.from }}",
              "type": "string"
            },
            {
              "id": "969f88d9-a6d2-48b5-8e43-5a6ba24d65b6",
              "name": "sender_name",
              "value": "={{ $('Email Relevance Filter').item.json.from.split('<')[0].trim() || $('Email Relevance Filter').item.json.from }}",
              "type": "string"
            },
            {
              "id": "e97fd03b-6e4b-4f53-ac81-337b18d41107",
              "name": "email_timestamp",
              "value": "={{ $('Email Relevance Filter').item.json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        288
      ],
      "id": "75df2699-2bf0-408e-bc61-4aaff0a5e8de",
      "name": "Email Data Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfa81796-d9b2-46b1-b1c3-015e11404bb7",
              "name": "source_type",
              "value": "EMAIL",
              "type": "string"
            },
            {
              "id": "fa69c671-3361-4cc7-97c1-0c06df990b9f",
              "name": "sender",
              "value": "={{ $('Email Data Extractor').item.json.sender_email }}",
              "type": "string"
            },
            {
              "id": "f1363a2e-837a-4500-930a-7c4390cad9ec",
              "name": "content",
              "value": "=Subject: {{ $('Email Data Extractor').item.json.clean_subject }}\\\\n\\\\n{{ $('Email Data Extractor').item.json.clean_body }}",
              "type": "string"
            },
            {
              "id": "d91ea94f-4315-4a52-8acf-375628c55a05",
              "name": "timestamp",
              "value": "={{ $('Email Data Extractor').item.json.email_timestamp }}",
              "type": "string"
            },
            {
              "id": "80fbbbb9-1ff4-459c-bdcb-49f7c2887c32",
              "name": "email_address",
              "value": "={{ $('Email Data Extractor').item.json.sender_email }}",
              "type": "string"
            },
            {
              "id": "dfecc3cf-d53d-4f96-af84-b2ebfd4e58b7",
              "name": "sender_name",
              "value": "={{ $('Email Data Extractor').item.json.sender_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        288
      ],
      "id": "23d1cee1-8b67-4003-a5a4-ac723f1021dd",
      "name": "Email Message Formatter"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Email Relevance Filter').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        368
      ],
      "id": "fa0bf820-eb89-47c3-b8a1-46cd1c964f1d",
      "name": "Email Archive Handler",
      "webhookId": "05ca8496-c6a3-4374-bf00-9d3dec1901d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "0uqfvyImAPjePp8x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Email Message Formatter').item.json.sender }}",
                    "rightValue": "@techcorp.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "982be21e-597a-485a-a5c5-455d338bb8fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "techcorp_client"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09a19e43-91d6-4ea7-a854-8ff0037247d4",
                    "leftValue": "={{ $('Email Message Formatter').item.json.sender }}",
                    "rightValue": "@designco.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "designco_client"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        272
      ],
      "id": "66a50fa3-fb65-4f4c-a5f5-a01b65a80607",
      "name": "Email Client Lookup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ecf5cc1-5f6d-4557-b4cd-781f4e101f1a",
              "name": "client_name",
              "value": "={{ $nodeContext.type === 'techcorp_client' ? 'TechCorp' : $nodeContext.type === 'designco_client' ? 'DesignCo' : 'Unknown Client' }}",
              "type": "string"
            },
            {
              "id": "4dcda07b-33e0-4d9a-97c9-848e97545a7f",
              "name": "priority",
              "value": "={{ $nodeContext.type === 'techcorp_client' ? 'high' : $nodeContext.type === 'designco_client' ? 'medium' : 'low' }}",
              "type": "string"
            },
            {
              "id": "c4a153c8-8817-4fa6-824f-8394a4e4ce09",
              "name": "board_id",
              "value": "={{ $nodeContext.type === 'techcorp_client' ? 'board_techcorp_123' : $nodeContext.type === 'designco_client' ? 'board_designco_789' : 'board_general_345' }}",
              "type": "string"
            },
            {
              "id": "c54516c3-93a9-4037-a09f-5af20ddd1049",
              "name": "list_id",
              "value": "={{ $nodeContext.type === 'techcorp_client' ? 'list_urgent_456' : $nodeContext.type === 'designco_client' ? 'list_projects_012' : 'list_inbox_678' }}",
              "type": "string"
            },
            {
              "id": "f77ff38d-8159-49b4-8b5d-78490794d836",
              "name": "ready_for_ai",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "2c064e4b-6c2f-4704-ac9b-3ed203164b3e",
              "name": "module_source",
              "value": "EMAIL_INPUT_MODULE",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        176
      ],
      "id": "7669a311-4bb6-494b-b4b3-13baf96031fe",
      "name": "Email Route Manager"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        32
      ],
      "id": "df471f67-6127-42a0-a16c-79157b1bf2a2",
      "name": "SMS Email Stream Merger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "glm-4.5-air",
          "mode": "list",
          "cachedResultName": "glm-4.5-air"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert customer service assistant. Create concise summaries of customer messages for support tickets. Include: 1) One-line summary (max 80 chars), 2) Priority level (high/medium/low), 3) Suggested category, 4) Key action items. Format as JSON.",
              "role": "assistant"
            },
            {
              "content": "=Client: {{ $('SMS Email Stream Merger').item.json.client_name }}\\\\nSource: {{ $('SMS Email Stream Merger').item.json.source_type }}\\\\nSender: {{ $('SMS Email Stream Merger').item.json.sender }}\\\\nMessage:\\\\n{{ $('SMS Email Stream Merger').item.json.content }}"
            }
          ]
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1472,
        32
      ],
      "id": "ac191f43-ec6c-4c0c-bb87-d4713c224992",
      "name": "OpenAI Message Summarizer",
      "credentials": {
        "anthropicApi": {
          "id": "mnncYmkfqpjIZTZU",
          "name": "Glm 4.5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e82da38-e617-4327-9954-e0fc0cc78664",
              "leftValue": "={{ $('OpenAI Message Summarizer').item.json.message.content }}",
              "rightValue": "\\\\{.*summary.*\\\\}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "ce2b4a88-e8ea-4f2b-b2c9-312031bafe1e",
              "leftValue": "={{ $('OpenAI Message Summarizer').item.json.message.content.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        32
      ],
      "id": "5060fb96-ed2d-449d-abfb-5b9319844c8c",
      "name": "AI Summary Validator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec869d4-a243-4eff-bb5e-304fb0165f13",
              "name": "fallback_summary",
              "value": "={\\\\\\\"summary\\\\\\\": \\\\\\\"{{ $('SMS Email Stream Merger').item.json.source_type }} from {{ $('SMS Email Stream Merger').item.json.client_name }}\\\\\\\", \\\\\\\"priority\\\\\\\": \\\\\\\"{{ $('SMS Email Stream Merger').item.json.priority }}\\\\\\\", \\\\\\\"category\\\\\\\": \\\\\\\"Support Request\\\\\\\", \\\\\\\"action_items\\\\\\\": [\\\\\\\"Review message content\\\\\\\", \\\\\\\"Follow up with client\\\\\\\"]}",
              "type": "string"
            },
            {
              "id": "7c7f0708-399b-409b-a6e6-5e297f39016c",
              "name": "ai_status",
              "value": "FALLBACK_USED",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        368
      ],
      "id": "f17ca662-f11e-47a5-a4a4-01bbd765f703",
      "name": "AI Retry Controller"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "895c6aa7-b6fe-415a-82f9-648f161dfdda",
              "name": "card_title",
              "value": "={{ JSON.parse($('AI Summary Validator').item.json.message?.content || $('AI Retry Controller').item.json.fallback_summary).summary }} - {{ $('SMS Email Stream Merger').item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "551de660-5d14-4646-a119-14ab5d36ca93",
              "name": "card_description",
              "value": "=**Source:** {{ $('SMS Email Stream Merger').item.json.source_type }}\\\\n**From:** {{ $('SMS Email Stream Merger').item.json.sender }}\\\\n**Client:** {{ $('SMS Email Stream Merger').item.json.client_name }}\\\\n**Timestamp:** {{ $('SMS Email Stream Merger').item.json.timestamp }}\\\\n\\\\n**Original Message:**\\\\n{{ $('SMS Email Stream Merger').item.json.content }}\\\\n\\\\n**AI Analysis:**\\\\n{{ JSON.parse($('AI Summary Validator').item.json.message?.content || $('AI Retry Controller').item.json.fallback_summary).category }}\\\\n\\\\n**Action Items:**\\\\n{{ JSON.parse($('AI Summary Validator').item.json.message?.content || $('AI Retry Controller').item.json.fallback_summary).action_items.join('\\\\n- ') }}",
              "type": "string"
            },
            {
              "id": "2ac9b54e-9172-44d2-977d-394bc034fdc8",
              "name": "priority_label",
              "value": "={{ JSON.parse($('AI Summary Validator').item.json.message?.content || $('AI Retry Controller').item.json.fallback_summary).priority.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "56c9839f-90b8-4d3b-904a-1edc5964f22f",
              "name": "source_label",
              "value": "={{ $('SMS Email Stream Merger').item.json.source_type }}",
              "type": "string"
            },
            {
              "id": "2a6993c9-1687-4707-b05c-49c5c44d6782",
              "name": "client_label",
              "value": "={{ $('SMS Email Stream Merger').item.json.client_name.replace(/\\\\s+/g, '_').toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        592
      ],
      "id": "37e2e85a-f850-4a93-b437-98d6b3c45470",
      "name": "Trello Card Creator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Trello Card Creator').item.json.priority_label }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fd299ae7-e94e-4485-81d5-8c2f7868ca53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high_priority_board"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "193c0068-cf7e-41bc-98eb-af8c1d68488e",
                    "leftValue": "={{ $('Trello Card Creator').item.json.client_name }}",
                    "rightValue": "TechCorp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "techcorp_board"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf3c8d1e-9bc0-4327-a19d-b426bc76793f",
                    "leftValue": "={{ $('Trello Card Creator').item.json.client_name }}",
                    "rightValue": "DesignCo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "designco_board"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1568,
        448
      ],
      "id": "23a6cbf6-54d4-4e26-b93d-3fe377aa43ed",
      "name": "Trello Board Router"
    },
    {
      "parameters": {
        "listId": "={{ $('Trello Board Router').item.json.list_id }}",
        "name": "={{ $('Trello Card Creator').item.json.card_title }}",
        "description": "={{ $('Trello Card Creator').item.json.card_description }}",
        "additionalFields": {
          "due": "={{ $dateTime($now).plus(3, 'days').toISO() }}",
          "pos": "top",
          "idLabels": "=PRIORITY_{{ $('Trello Card Creator').item.json.priority_label }},SOURCE_{{ $('Trello Card Creator').item.json.source_label }},CLIENT_{{ $('Trello Card Creator').item.json.client_label }}"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1824,
        480
      ],
      "id": "d4f89992-d43f-4197-b04e-b17febe50de9",
      "name": "Trello Card Publisher",
      "credentials": {
        "trelloApi": {
          "id": "Qe6e7BSLmjydJcAO",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd70955-8347-460b-a1a0-c9d82ebd213d",
              "name": "workflow_status",
              "value": "COMPLETED_SUCCESSFULLY",
              "type": "string"
            },
            {
              "id": "16232c3f-2a26-472a-9e30-6544241a53eb",
              "name": "trello_card_id",
              "value": "={{ $('Trello Card Publisher').item.json.id }}",
              "type": "string"
            },
            {
              "id": "d96ad5d1-6b23-43fa-8a2d-d4fd172d533d",
              "name": "trello_card_url",
              "value": "={{ $('Trello Card Publisher').item.json.url }}",
              "type": "string"
            },
            {
              "id": "c8fe7189-6ce8-4e7f-ac50-97b2ede1c607",
              "name": "processing_time_ms",
              "value": "={{ $now - Date.parse($('SMS Email Stream Merger').item.json.timestamp) }}",
              "type": "string"
            },
            {
              "id": "b0ec9984-d53b-4c04-9ce6-0f5da71560d8",
              "name": "message_source",
              "value": "={{ $('SMS Email Stream Merger').item.json.module_source }}",
              "type": "string"
            },
            {
              "id": "c21aa472-b02e-4207-8326-b7a52405b30f",
              "name": "client_processed",
              "value": "={{ $('SMS Email Stream Merger').item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "b080acce-8744-472a-85c0-c348c6d89584",
              "name": "completion_timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        480
      ],
      "id": "281f938f-9303-442b-b4ad-f6e6e96a98d1",
      "name": "Process Success Logger"
    }
  ],
  "pinData": {},
  "connections": {
    "VoIPline SMS Webhook": {
      "main": [
        [
          {
            "node": "SMS Content Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Content Validator": {
      "main": [
        [
          {
            "node": "SMS Data Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Data Formatter": {
      "main": [
        [
          {
            "node": "SMS Client Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Client Lookup": {
      "main": [
        [
          {
            "node": "SMS Rate Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Rate Controller": {
      "main": [
        [
          {
            "node": "SMS Route Controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Route Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Inbox Monitor": {
      "main": [
        [
          {
            "node": "Email Relevance Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Relevance Filter": {
      "main": [
        [
          {
            "node": "Email Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Data Extractor": {
      "main": [
        [
          {
            "node": "Email Message Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Message Formatter": {
      "main": [
        [
          {
            "node": "Email Client Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Client Lookup": {
      "main": [
        [
          {
            "node": "Email Route Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Route Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Archive Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Route Controller": {
      "main": [
        [
          {
            "node": "SMS Email Stream Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Route Manager": {
      "main": [
        [
          {
            "node": "SMS Email Stream Merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SMS Email Stream Merger": {
      "main": [
        [
          {
            "node": "OpenAI Message Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Message Summarizer": {
      "main": [
        [
          {
            "node": "AI Summary Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Validator": {
      "main": [
        [
          {
            "node": "Trello Card Creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Retry Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Retry Controller": {
      "main": [
        [
          {
            "node": "Trello Card Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Card Creator": {
      "main": [
        [
          {
            "node": "Trello Board Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Board Router": {
      "main": [
        [
          {
            "node": "Trello Card Publisher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Card Publisher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Card Publisher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Card Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Card Publisher": {
      "main": [
        [
          {
            "node": "Process Success Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24bd82bd-d225-47cc-acee-5c6cb0882e1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff133700c8dcc4b4e27feb6898546611b3d066d4ac91b4bbfdc330eeaa7cf10e"
  },
  "id": "FLa59j78BJQDw6NV",
  "tags": []
}