N8N Workflows/Data Extraction & Transformation/Data Extraction & Transformation.json
{
  "name": "Data Extraction & Transformation",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bd482ab-93e8-45c9-9738-c152626ff33b",
              "leftValue": "={{ $binary.data0 }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        688
      ],
      "id": "bf31d41e-d27e-4261-ab5f-3c8bc9ade3f4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "90ff6d70-acc6-4532-8600-b182e46f186e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-upload",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        688
      ],
      "id": "04529802-dd06-49f4-a979-016fd4f93106",
      "name": "File Upload Webhook",
      "webhookId": "1f9a6337-dbce-42fe-b5a1-6e568e80eaff"
    },
    {
      "parameters": {
        "jsCode": "// File Type Check - CORRECTED to preserve binary data\nconst item = $input.first();\nconst fileData = item.binary?.data || item.binary?.data0;\n\nif (!fileData) {\n  throw new Error('No file received. Please upload a file.');\n}\n\nconst allowedTypes = [\n  'application/pdf',\n  'image/jpeg', \n  'image/jpg',\n  'image/png',\n  'text/csv',\n  'application/vnd.ms-excel',\n  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n];\n\nconst fileType = fileData.mimeType;\nconst fileName = fileData.fileName || 'uploaded_file';\nconst fileSize = fileData.fileSize || 0;\n\nif (fileSize > 10 * 1024 * 1024) {\n  throw new Error(`File too large: ${Math.round(fileSize/1024/1024)}MB. Maximum size is 10MB.`);\n}\n\nif (!allowedTypes.includes(fileType)) {\n  throw new Error(`File type \"${fileType}\" not supported. Supported: PDF, JPG, PNG, CSV, Excel`);\n}\n\n// CRITICAL: Return as array with both json and binary preserved\nreturn [{\n  json: {\n    fileName: fileName,\n    fileType: fileType,\n    fileSize: fileSize,\n    fileSizeMB: Math.round(fileSize / 1024 / 1024 * 100) / 100,\n    timestamp: new Date().toISOString(),\n    status: 'valid_file'\n  },\n  binary: item.binary  // Preserve ALL binary data from input\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        672
      ],
      "id": "e6e394ad-a3e5-4e97-80ea-8dc30a03a4c1",
      "name": "File Validation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53689cea-aac4-4149-a983-e89f037423de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF Files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e8ff1ab-1c7a-4417-9971-8b8152383508",
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel Files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02324851-7a21-465a-bc13-ecdc0599c39c",
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel Files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88037c32-9d4c-4817-8ba8-0903e46f25a0",
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV Files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da9087aa-e55b-4e65-ab25-a1a6c8ec8489",
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b34e88d-5272-4a46-8fdf-4d6005e2fdf9",
                    "leftValue": "={{ $('File Validation').item.json.fileType }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Files"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        304,
        592
      ],
      "id": "954c8e79-c4c6-4310-8e22-14c3ff431143",
      "name": "File Type Router"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "2b48f30d-d219-445a-a48a-6674b6a92a1d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        704
      ],
      "id": "7b7630ad-3952-4f9c-aab5-5da83d732818",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        560
      ],
      "id": "0a52263c-c55e-490a-86b0-e5580ee899e8",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "jsCode": "// OCR placeholder for images - would integrate with Google Vision API in production\nreturn {\n  text: \"Sample invoice extracted from image:\\n\\nINVOICE #INV-2024-001\\nDate: 2024-09-12\\nSupplier: Manufacturing Supply Co.\\nTotal: $1,250.00\\n\\nLine Items:\\n- Steel sheets (5 units) - $750.00\\n- Bolts (100 pieces) - $500.00\",\n  extractionMethod: \"ocr_simulation\",\n  confidence: 0.85,\n  ocrProvider: \"placeholder\",\n  note: \"This is simulated OCR data. In production, integrate with Google Vision API or AWS Textract.\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        864
      ],
      "id": "0de38f24-1567-4c29-bc5b-1d2354134841",
      "name": "OCR Image Text"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        624
      ],
      "id": "ac001d6b-e93b-4506-9f8b-7601f5ef5fa4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Standardize extracted data from different file types into consistent format\nconst input = $input.first().json;\nconst originalData = $('File Validation').first().json;\n\nlet extractedText = '';\nlet extractionMethod = '';\nlet sourceType = '';\nlet confidence = 1.0;\n\n// Handle different extraction outputs based on structure\nif (input.text && typeof input.text === 'string') {\n  // PDF extraction or OCR result\n  extractedText = input.text;\n  \n  if (input.extractionMethod === 'ocr_simulation') {\n    extractionMethod = 'ocr_simulation';\n    sourceType = 'image';\n    confidence = input.confidence || 0.85;\n  } else {\n    extractionMethod = 'pdf_extraction';\n    sourceType = 'document';\n    confidence = 0.95;\n  }\n  \n} else if (Array.isArray(input) && input.length > 0) {\n  // Excel/CSV extraction (structured data as array)\n  const firstRow = input[0];\n  const headers = Object.keys(firstRow || {});\n  const dataRows = input.slice(0, 10); // First 10 rows for AI processing\n  \n  // Convert structured data to readable text\n  extractedText = `Spreadsheet Data:\\n\\nColumns: ${headers.join(', ')}\\n\\nSample Data:\\n`;\n  extractedText += dataRows.map((row, index) => {\n    const rowData = headers.map(col => `${col}: ${row[col] || 'N/A'}`).join(', ');\n    return `Row ${index + 1}: ${rowData}`;\n  }).join('\\n');\n  \n  extractionMethod = 'structured_data';\n  sourceType = 'spreadsheet';\n  confidence = 0.98;\n  \n} else if (input.numpages) {\n  // PDF metadata object (fallback case)\n  extractedText = input.text || 'No text extracted from PDF';\n  extractionMethod = 'pdf_extraction';\n  sourceType = 'document';  \n  confidence = 0.90;\n  \n} else {\n  // Unknown format fallback\n  extractedText = `Data: ${JSON.stringify(input).substring(0, 800)}`;\n  extractionMethod = 'raw_fallback';\n  sourceType = 'unknown';\n  confidence = 0.5;\n}\n\n// Trim text for AI processing (OpenAI token limits)\nif (extractedText.length > 4000) {\n  extractedText = extractedText.substring(0, 4000) + '\\n...[content truncated for AI processing]';\n}\n\n// Return standardized format ready for AI\nreturn {\n  extractedText: extractedText,\n  extractionMethod: extractionMethod,\n  sourceType: sourceType,\n  confidence: confidence,\n  \n  // Original file metadata\n  originalFileName: originalData.fileName,\n  originalFileType: originalData.fileType,\n  originalFileSize: originalData.fileSize,\n  \n  // Processing metadata\n  processedAt: new Date().toISOString(),\n  textLength: extractedText.length,\n  readyForAI: extractedText.length > 50,\n  \n  // For debugging\n  inputStructure: Array.isArray(input) ? 'array' : typeof input\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1056
      ],
      "id": "6703fc77-9dc4-4566-a933-54bdd6eb79ba",
      "name": "Standardization"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a manufacturing data extraction specialist. Extract structured data and return ONLY valid JSON using straight quotes only.\n\nCRITICAL: Use only straight quotes (\") in JSON. Never use smart quotes, curly quotes, or special characters.\n\nReplace any special characters in descriptions:\n- Use 'inch' instead of \" symbol\n- Use 'feet' instead of ' symbol  \n- Use regular apostrophes, not smart quotes\n\nThis ensures clean JSON parsing.",
              "role": "system"
            },
            {
              "content": "=Extract manufacturing data from this document:\\n\\nDocument Type: {{ $json.sourceType }}\\nFile Name: {{ $json.originalFileName }}\\nExtraction Method: {{ $json.extractionMethod }}\\n\\nContent:\\n{{ $json.extractedText }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -96,
        1056
      ],
      "id": "88403867-d5e6-46aa-9462-b91038ec1725",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6zNcL0mVed9PBJ6M",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simplified Node 7 - just parse OpenAI response\nconst openaiResponse = $input.first().json;\nlet extractedData;\n\ntry {\n  let jsonString = openaiResponse.message.content\n    .replace(/\"/g, '\"')\n    .replace(/\"/g, '\"')\n    .replace(/'/g, \"'\")\n    .replace(/'/g, \"'\");\n  \n  extractedData = JSON.parse(jsonString);\n  extractedData.extractionMethod = \"openai_parsed\";\n  \n} catch (error) {\n  const rawResponse = openaiResponse.message.content;\n  const invoiceMatch = rawResponse.match(/\"invoiceNumber\":\\s*\"([^\"]+)\"/);\n  const supplierMatch = rawResponse.match(/\"supplierName\":\\s*\"([^\"]+)\"/);\n  const totalMatch = rawResponse.match(/\"totalAmount\":\\s*([0-9.]+)/);\n  \n  extractedData = {\n    invoiceNumber: invoiceMatch ? invoiceMatch[1] : \"PARSE_ERROR\",\n    supplierName: supplierMatch ? supplierMatch[1] : \"PARSE_ERROR\", \n    totalAmount: totalMatch ? parseFloat(totalMatch[1]) : 0,\n    extractionMethod: \"regex_fallback\"\n  };\n}\n\nreturn extractedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1056
      ],
      "id": "67b34873-0df0-4cfd-926b-c71fd8e8a230",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "970c29d5-1e55-4f4c-b023-e8bd3c9b0f82",
              "name": "invoice_number",
              "value": "={{ $json.invoice.invoice_number }}",
              "type": "string"
            },
            {
              "id": "2f1c0257-1061-4ef9-8da1-114f328626fe",
              "name": "supplier_name",
              "value": "={{ $json.invoice.seller.name }}",
              "type": "string"
            },
            {
              "id": "3688e45b-fbbe-47e3-bc26-b6de89051ff9",
              "name": "customer_name",
              "value": "={{ $json.invoice.bill_to.name }}",
              "type": "string"
            },
            {
              "id": "52850702-1c27-4af1-96bb-f00f5c8cf73d",
              "name": "invoice_date",
              "value": "={{ $json.invoice.invoice_date }}",
              "type": "string"
            },
            {
              "id": "1453b278-aa88-445a-abff-c3f7b7e71efd",
              "name": "due_date",
              "value": "={{ $json.invoice.due_date }}",
              "type": "string"
            },
            {
              "id": "ce88a7f3-0486-4da6-862c-69365d0e9e5a",
              "name": "purchase_order",
              "value": "={{ $json.invoice.purchase_order }}",
              "type": "string"
            },
            {
              "id": "97024182-1f0b-4c3d-ae5c-af228d22af52",
              "name": "subtotal",
              "value": "={{ $json.invoice.subtotal }}",
              "type": "string"
            },
            {
              "id": "c43b7a77-c37c-457a-add5-c27c4b8b0ef6",
              "name": "sales_tax",
              "value": "={{ $json.invoice.sales_tax_amount }}",
              "type": "string"
            },
            {
              "id": "cf235ea8-58f2-4855-b161-5682b36b2249",
              "name": "shipping",
              "value": "={{ $json.invoice.shipping_and_handling }}",
              "type": "string"
            },
            {
              "id": "d4891c52-98d3-4a70-9324-00fa1c423cb4",
              "name": "total_amount",
              "value": "={{ $json.invoice.total_amount }}",
              "type": "string"
            },
            {
              "id": "a7587e23-fbcc-45f9-860c-682bf54d4590",
              "name": "items_count",
              "value": "={{ $json.invoice.line_items.length }}",
              "type": "string"
            },
            {
              "id": "0edc7864-c866-4b9c-b8a5-3555e644523b",
              "name": "items_summary",
              "value": "={{ $json.invoice.line_items.slice(0,2).map(item => item.description.substring(0,30)).join('; ') + ($json.invoice.line_items.length > 2 ? '...' : '') }}",
              "type": "string"
            },
            {
              "id": "6913946b-5023-4009-b30e-8526326cde3c",
              "name": "payment_terms",
              "value": "={{ $json.invoice.payment_terms }}",
              "type": "string"
            },
            {
              "id": "5f46f9a1-00b7-4c69-9eef-ae7d2eb6d108",
              "name": "tracking_number",
              "value": "={{ $json.invoice.tracking_number }}",
              "type": "string"
            },
            {
              "id": "b4f6ac2a-5337-4483-9e37-2ea4b215ec5f",
              "name": "processed_date",
              "value": "={{ new Date().toISOString().slice(0,10) }}",
              "type": "string"
            },
            {
              "id": "a685296b-ba4d-4a5f-bd8a-db6774d54dc1",
              "name": "file_name",
              "value": "={{ $json.file_name }}",
              "type": "string"
            },
            {
              "id": "5cdcc21c-283c-4bd4-911a-dd59ade403e3",
              "name": "processing_status",
              "value": "Extracted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1056
      ],
      "id": "7ffc2965-fe54-4dea-b572-76e139205623",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SAVDvmty3-J6jDbPjsKK2UQMmWA_CYr5dq6zIGJ7tEM",
          "mode": "list",
          "cachedResultName": "Manufacturing Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SAVDvmty3-J6jDbPjsKK2UQMmWA_CYr5dq6zIGJ7tEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SAVDvmty3-J6jDbPjsKK2UQMmWA_CYr5dq6zIGJ7tEM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchase_order",
              "displayName": "purchase_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sales_tax",
              "displayName": "sales_tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shipping",
              "displayName": "shipping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "items_count",
              "displayName": "items_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "items_summary",
              "displayName": "items_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_terms",
              "displayName": "payment_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tracking_number",
              "displayName": "tracking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_date",
              "displayName": "processed_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        1056
      ],
      "id": "a293dc6e-dacc-42ba-83a1-36601a21dc51",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KhH8OIiwBy2Kkzw7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Manufacturing document processed successfully!\",\n  \"document_info\": {\n    \"invoice_number\": \"{{ $json.invoice_number }}\",\n    \"supplier_name\": \"{{ $json.supplier_name }}\",\n    \"customer_name\": \"{{ $json.customer_name }}\",\n    \"total_amount\": \"${{ $json.total_amount }}\",\n    \"items_count\": \"{{ $json.items_count }} items\"\n  },\n  \"financial_summary\": {\n    \"subtotal\": \"${{ $json.subtotal }}\",\n    \"tax\": \"${{ $json.sales_tax }}\",\n    \"shipping\": \"${{ $json.shipping }}\",\n    \"total\": \"${{ $json.total_amount }}\"\n  },\n  \"business_details\": {\n    \"invoice_date\": \"{{ $json.invoice_date }}\",\n    \"due_date\": \"{{ $json.due_date }}\",\n    \"purchase_order\": \"{{ $json.purchase_order }}\",\n    \"payment_terms\": \"{{ $json.payment_terms }}\",\n    \"tracking\": \"{{ $json.tracking_number }}\"\n  },\n  \"automation_success\": {\n    \"file_processed\": \"{{ $json.file_name }}\",\n    \"processing_date\": \"{{ $json.processed_date }}\",\n    \"status\": \"{{ $json.processing_status }}\",\n    \"saved_to_sheets\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1056
      ],
      "id": "432af736-3407-4811-bd47-fd078ada39a7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "File Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Upload Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Validation": {
      "main": [
        [
          {
            "node": "File Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Router": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Image Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Image Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OCR Image Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Standardization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardization": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4073929f-b9b6-475d-ad35-6650597e09b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4c3b75356d6a61510c8243f04ffa1f078be7dea5992cd7004e119fc4723ae75"
  },
  "id": "Df2zILORhDHrGsP8",
  "tags": []
}